In [1]:
import pandas as pd

In [4]:
test = pd.read_csv('./data/경기도/지역별지역화폐사용량및지역별소상공인분포.csv',index_col='분석인덱스')

C:\Users\Jws\AppData\Local\Temp\ipykernel_18692\3503367277.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('./data/경기도/지역별지역화폐사용량및지역별소상공인분포.csv',index_col='분석인덱스')

In [7]:
test['업종대분류명'].unique()

array(['C제조업', 'E하수·폐기물처리;원료재생및환경복원업', 'F건설업', 'G도매및소매업', 'H운수업',
       'I숙박및음식점업', 'L부동산업및임대업', 'M전문;과학및기술서비스업', 'N사업시설관리및사업지원서비스업',
       'P교육서비스업', 'R예술;스포츠및여가관련서비스업', 'S협회및단체;수리및기타개인서비스업', 'A농업;임업및어업',
       'J출판;영상;방송통신및정보서비스업', 'B광업', 'Q보건업및사회복지서비스업', 'K금융및보험업',
       'T가구내고용활동및달리분류되지않은자가소비생산', '기타', 'O공공행정;국방및사회보장행정',
       'D전기;가스;증기및수도사업', 'T가구내고용활동및달리분류되지않은자가소비생산활동', 'H운수및창고업'],
      dtype=object)

In [6]:
test2 = pd.read_csv('./data/경기도/원본/지역화폐연령별성별이용현황.csv',encoding='cp949')

In [7]:
test2

      기준연도  시군명 연령대 성별     결제건수         결제금액   결제취소건수       결제취소금액  1회평균결제금액
0     2023  가평군  10  남     8409    188845090     46.0    4871840.0   22457.0
1     2023  가평군  10  여     6584    176605435     68.0    1841390.0   26823.0
2     2023  가평군  20  남    70363   1545018255    728.0   37559999.0   21958.0
3     2023  가평군  20  여    55118   1332506645    681.0   27996349.0   24176.0
4     2023  가평군  30  남   110968   2682234965   1382.0   84476317.0   24171.0
...    ...  ...  .. ..      ...          ...      ...          ...       ...
1532  2021  화성시  70  남    93924   2016728621    878.0   36744696.0   21472.0
1533  2021  화성시  70  여    94936   2113136980    948.0   31082093.0   22259.0
1534  2021  화성시  80  남    14820    296063119    128.0    3424209.0   19977.0
1535  2021  화성시  80  여    19625    441991314    191.0    6208072.0   22522.0
1536  2021  화성시  기타  -  1245634  29800946270  11553.0  415381458.0   23924.0

[1537 rows x 9 columns]

In [8]:
test3 = pd.read_csv('./data/경기도/원본/시군구간유출인구의이동수단별성별_연령대별데이터.csv',encoding='cp949')

In [9]:
test3

,기준년월,요일구분,출발 시간대,출발지_시군구코드,출발지_시도명,출발지_시군구명,출발지_중심_X좌표,출발지_중심_Y좌표,이동수단 구분,성별,연령별(10세),인구 수
0,202401,월,11,41173,경기도,안양시 동안구,951796,1933620,4,W,6,3.50
1,202401,화,16,41271,경기도,안산시 상록구,944176,1924186,1,M,9,95.79
2,202401,목,12,41465,경기도,용인시 수지구,962048,1926137,0,W,6,5045.49
3,202401,일,2,41271,경기도,안산시 상록구,944176,1924186,3,M,9,34.06
4,202401,금,21,41650,경기도,포천시,978069,1996673,7,M,8,3.41
...,...,...,...,...,...,...,...,...,...,...,...,...
8540,202401,수,5,41590,경기도,화성시,942172,1908000,0,W,5,4327.96
8541,202401,화,5,41171,경기도,안양시 만안구,947900,1934052,2,M,8,244.34
8542,202401,금,7,41115,경기도,수원시 팔달구,957104,1919945,0,M,7,2568.43
8543,202401,목,23,41173,경기도,안양시 동안구,951796,1933620,2,M,3,8.40
8544,202401,금,14,41450,경기도,하남시,974018,1947095,1,M,2,863.63

In [11]:
test4 = pd.read_csv('./data/경기도/원본/지역별지역화폐결제금액및결제변화율.csv')

In [12]:
test4

      분석인덱스    시도명 시군구명 행정동명   일반결제년월      결제금액    전월결제금액  결제변화비율
0         0    경기도  가평군  가평읍  2019-09  19073066  19073066    0.00
1         1    경기도  가평군  가평읍  2019-10  68118300  19073066  257.14
2         2    경기도  가평군  가평읍  2019-11  54758044  68118300  -19.61
3         3    경기도  가평군  가평읍  2019-12  77461979  54758044   41.46
4         4    경기도  가평군  가평읍  2020-01  88133670  77461979   13.78
...     ...    ...  ...  ...      ...       ...       ...     ...
3085   3085  서울특별시   중구  소공동  2019-11  21605760  14472650   49.29
3086   3086  서울특별시   중구  소공동  2019-12  55619190  21605760  157.43
3087   3087  서울특별시   중구  소공동  2020-01  56547370  55619190    1.67
3088   3088  서울특별시   중구  소공동  2020-02  30188690  56547370  -46.61
3089   3089  서울특별시   중구  소공동  2020-03   1486980  30188690  -95.07

[3090 rows x 8 columns]