In [1]:
import pandas as pd

In [2]:
store = pd.read_csv('./data/경기도/원본/지역화폐 가맹점_20240331.csv',encoding='cp949')

C:\Users\Jws\AppData\Local\Temp\ipykernel_17768\2564350790.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  store = pd.read_csv('./data/경기도/원본/지역화폐 가맹점_20240331.csv',encoding='cp949')

In [3]:
store

,시군명,상호명,업종명(종목명),소재지도로명주소,소재지지번주소,우편번호,위도,경도,사업자등록번호,업종코드,가맹점번호,휴폐업상태,휴폐업상태코드,폐업일자,데이터기준일자
0,고양시,까망노래연습장,노래방,경기도 고양시 일산동구 탄중로 322,"경기도 고양시 일산동구 중산동 1570-3번지 고봉프라자 201,202호",10333.0,37.693153,126.780748,102-30-07121,8402,979093887,NaN,NaN,NaN,20240331
1,고양시,일산좋은치과의원,치과,경기도 고양시 일산동구 일산로 441,경기도 고양시 일산동구 정발산동 1204번지 일성조합상가 3층 301호,10359.0,37.673089,126.777688,160-97-00108,4201,979091022,NaN,NaN,NaN,20240331
2,고양시,잉크존,"문구,사무용품",경기도 고양시 일산서구 중앙로 1388,경기도 고양시 일산서구 주엽동 73번지 강선마을11단지아파트 지하1층 28호,10366.0,37.668358,126.766100,660-03-00201,8102,979075504,NaN,NaN,NaN,20240331
3,고양시,참좋은집,오양.보육.복지시설,경기도 고양시 일산동구 고봉로770번길 211-1,경기도 고양시 일산동구 성석동 1061-40번지,10252.0,37.717316,126.796933,815-80-00122,7301,976706432,NaN,NaN,NaN,20240331
4,고양시,(주)팩토리빈,커피전문점,경기도 고양시 일산동구 멱절길 368-104,경기도 고양시 일산동구 장항동 671-9번지 1층,10397.0,37.650748,126.760605,463-81-00044,2502,976704676,NaN,NaN,NaN,20240331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418745,화성시,킹(KING),차량부품.용품,경기도 화성시 융건로 9,경기도 화성시 기안동 457-712번지 1층 101호,18343.0,37.214169,126.981810,283-05-02267,6501,912458248,NaN,NaN,NaN,20240331
418746,화성시,아리가또맘마 중동탄점,일식전문점,경기도 화성시 동탄대로14길 5-25,경기도 화성시 오산동 1030-12번지 1동 1층 101호,18486.0,37.185485,127.102669,324-24-00746,2303,911329093,NaN,NaN,NaN,20240331
418747,화성시,아이티씨영어,기타교육.교습.학원,경기도 화성시 서동탄로 53,경기도 화성시 능동 1282번지 서동탄역파크자이 108동 1001호,18416.0,37.202864,127.049760,825-95-00424,7213,900649832,NaN,NaN,NaN,20240331
418748,화성시,다함 목재,기타건축자재,경기도 화성시 비봉면 현대기아로 840,경기도 화성시 비봉면 양노리 714-42번지 1층,18284.0,37.222404,126.859343,827-08-01676,3403,904958213,NaN,NaN,NaN,20240331
418749,화성시,전주명가,일반음식점,경기도 화성시 장안면 3.1만세로 568,경기도 화성시 장안면 수촌리 425-15번지,18581.0,37.102547,126.864867,437-15-01302,2301,904906592,NaN,NaN,NaN,20240331

In [5]:
store = store[(store['휴폐업상태코드'].isna()) | (store['휴폐업상태코드'] == 1)]

In [55]:
store = store[['시군명','업종코드']].groupby('시군명').count()

In [57]:
store.columns = ['가맹점수']

In [66]:
store

       가맹점수
시군명
가평군    3354
고양시   26672
과천시    1674
광명시    7835
광주시   11204
구리시    6281
군포시    7369
김포시   14172
남양주시  20530
동두천시   3308
부천시   26036
성남시   17758
수원시   37485
시흥시   14727
안산시   21302
안성시    7662
안양시   16937
양주시    9736
양평군    4476
여주시    4708
연천군    2169
오산시    7052
용인시   25683
의왕시    3329
의정부시  13485
이천시    8427
파주시   15986
평택시   20599
포천시    6566
하남시    9206
화성시   27663

In [67]:
store.to_csv('./data/경기도/전처리 후/count_store.csv')

In [19]:
use = pd.read_csv('./data/경기도/원본/지역화폐발행및이용현황.csv',encoding='cp949')

In [49]:
use.columns = [['시군명', '기준년월', '신규가입자수', '월별충전액', '월별사용액']]

In [50]:
## 2023년 시군구별 월별 충전액
use

     시군명     기준년월  신규가입자수  월별충전액  월별사용액
0    가평군  2023-12   484.0   4051   2140
1    가평군  2023-11   458.0   2368   2187
2    가평군  2023-10   555.0   2596   2335
3    가평군  2023-09   782.0   3113   2376
4    가평군  2023-08   473.0   3631   2392
..   ...      ...     ...    ...    ...
367  화성시  2023-05  6717.0  35058  37413
368  화성시  2023-04  8440.0  35557  35525
369  화성시  2023-03  9111.0  35906  36982
370  화성시  2023-02  7829.0  30162  33325
371  화성시  2023-01  7038.0  29534  35112

[372 rows x 5 columns]

In [51]:
use.to_csv('./data/경기도/전처리 후/2023년각월별사용.csv',index=False)

In [41]:
popul = pd.read_csv('./data/경기도/원본/주민등록인구집계현황.csv', encoding='cp949')

In [42]:
popul_2023 = popul.loc[popul['연도'] == 2023].loc[popul['행정구역구분명'] == '시군']

In [43]:
popul_2023['기준년월'] = popul_2023['연도'].astype(str) + popul_2023['월'].astype(str)

In [46]:
popul_2023 = popul_2023[['기준년월','행정구역명','총 인구수']].reset_index(drop=True)
popul_2023

       기준년월     행정구역명    총 인구수
0    202312  경기도 가평군     62302
1    202312  경기도 고양시   1074907
2    202312  경기도 과천시     81000
3    202312  경기도 광명시    280197
4    202312  경기도 광주시    391377
..      ...       ...      ...
367   20231  경기도 파주시    495480
368   20231  경기도 평택시    580011
369   20231  경기도 포천시    146374
370   20231  경기도 하남시    326496
371   20231  경기도 화성시    914500

[372 rows x 3 columns]

In [47]:
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip('경기도'))
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip())
popul_2023.columns = ['기준년월','시군명','총인구수']
popul_2023

       기준년월  시군명     총인구수
0    202312  가평군    62302
1    202312  고양시  1074907
2    202312  과천시    81000
3    202312  광명시   280197
4    202312  광주시   391377
..      ...  ...      ...
367   20231  파주시   495480
368   20231  평택시   580011
369   20231  포천시   146374
370   20231  하남시   326496
371   20231  화성시   914500

[372 rows x 3 columns]

In [48]:
popul_2023.to_csv('./data/경기도/전처리 후/2023년각월경기도인구.csv',index=False)

In [64]:
popul_2023 = pd.read_csv('./data/경기도/전처리 후/2023년각월경기도인구.csv')

# '기준년월' 형식을 'yyyy-mm'으로 변환
popul_2023['기준년월'] = popul_2023['기준년월'].astype(str).apply(lambda x: x[:4] + '-' + ('0' + x[4:] if len(x) == 5 else x[4:]))

# 변환된 데이터 확인
popul_2023

        기준년월  시군명     총인구수
0    2023-12  가평군    62302
1    2023-12  고양시  1074907
2    2023-12  과천시    81000
3    2023-12  광명시   280197
4    2023-12  광주시   391377
..       ...  ...      ...
367  2023-01  파주시   495480
368  2023-01  평택시   580011
369  2023-01  포천시   146374
370  2023-01  하남시   326496
371  2023-01  화성시   914500

[372 rows x 3 columns]

In [65]:
popul_2023.to_csv('./data/경기도/전처리 후/2023년각월경기도인구.csv',index=False)