In [1]:
import pandas as pd

In [4]:
market = pd.read_csv('./data/지역화폐가맹점현황.csv', encoding= 'CP949')

C:\Users\Jws\AppData\Local\Temp\ipykernel_19872\3140978129.py:1: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  market = pd.read_csv('./data/지역화폐가맹점현황.csv', encoding= 'CP949')

In [7]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418750 entries, 0 to 418749
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시군명        418750 non-null  object
 1   상호명        418750 non-null  object
 2   업종명        418750 non-null  object
 3   정제도로명주소    401510 non-null  object
 4   정제지번주소     418750 non-null  object
 5   정제우편번호     414011 non-null  float64
 6   정제WGS84위도  410910 non-null  float64
 7   정제WGS84경도  410910 non-null  float64
 8   사업자등록번호    418750 non-null  object
 9   업종코드       418750 non-null  int64
 10  가맹점번호      402898 non-null  object
 11  휴폐업상태코드    105882 non-null  float64
 12  폐업일자       15191 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 41.5+ MB

In [11]:
market['시군명'].unique()

array(['가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시'], dtype=object)

In [10]:
market.head(3)

,시군명,상호명,업종명,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,사업자등록번호,업종코드,가맹점번호,휴폐업상태코드,폐업일자
0,가평군,(북면)짜짜루,일반음식점,경기도 가평군 북면 화악산로 203,경기도 가평군 북면 소법리 102-3번지,12404.0,37.900112,127.560637,132-17-95438,2301,933605818,NaN,NaN
1,가평군,(사)가평음악문화발전협의회,영화.공연장,경기도 가평군 가평읍 석봉로 100,"경기도 가평군 가평읍 대곡리 148-3번지 가평뮤직빌리지음악역,1939",12416.0,37.825029,127.512931,745-82-00088,8203,995608890,NaN,NaN
2,가평군,(재)가평군장애인복지관(가평,오양.보육.복지시설,경기도 가평군 가평읍 석봉로191번길 65-19,경기도 가평군 가평읍 읍내리 861번지,12414.0,37.831141,127.501636,275-82-00309,7301,905994381,NaN,NaN

In [15]:
market.loc[market['시군명'] == '광명시']

,시군명,상호명,업종명,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,사업자등록번호,업종코드,가맹점번호,휴폐업상태코드,폐업일자
32058,광명시,\t에이바헤어광명점,미용/뷰티/위생,경기도 광명시 일직로 22,경기도 광명시 일직동 509-1번지 효성해링턴타워THEFIRST 2층 13호,14344.0,37.422299,126.884169,6185600415,1002,716950228,1.0,NaN
32059,광명시,\t와이블랙광명교육청점,일반음식점,경기도 광명시 광명로775번길 3,경기도 광명시 광명동 755-3번지 대흥빌라트 1층 101호,14296.0,37.469426,126.847934,1303116559,2301,784763068,1.0,NaN
32060,광명시,"(#)산모도우미119부천,광명,시흥점",기타전문서비스,경기도 광명시 오리로856번길 8,경기도 광명시 철산동 411번지 금봉빌딩 지하1층 101호,14240.0,37.474879,126.867735,6079420918,9511,724390506,3.0,2022-12-05
32061,광명시,(A+)광명봄빛베스트,기타전문서비스,경기도 광명시 범안로 998,경기도 광명시 하안동 302번지 801-1호,14303.0,37.459441,126.874898,4269601164,9511,724163693,3.0,2021-12-31
32062,광명시,(A+)에이플러스 산모케어 광명산후도우미,기타전문서비스,경기도 광명시 오리로975번길 9,경기도 광명시 광명동 158-526번지 302-1호,14262.0,37.478432,126.854664,1029008158,9511,713815512,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42647,광명시,힐링풋앤바디,미용/뷰티/위생,경기도 광명시 하안로 60,경기도 광명시 소하동 1345번지 광명테크노파크 C동 209호,14322.0,37.444722,126.893990,5951401348,1002,715247348,3.0,2023-03-13
42648,광명시,힐링풋카페,미용/뷰티/위생,경기도 광명시 일직로 22,경기도 광명시 일직동 509-1번지 광명역 효성 해링턴타워 The First 3층 ...,14344.0,37.422299,126.884169,5605300304,1002,706139422,3.0,2024-04-08
42649,광명시,힐탑고시원,교육서비스업,경기도 광명시 광명로 920-1,"경기도 광명시 광명동 141-9번지 3층,4층",14220.0,37.480879,126.855435,1082691353,1015,721190652,1.0,NaN
42650,광명시,힘센장어,일반음식점,경기도 광명시 오리로854번길 8,경기도 광명시 철산동 416번지 다산캣츠빌딩 3층 305호,14240.0,37.474628,126.867974,1400721485,2301,769373541,3.0,2023-06-28
42651,광명시,힘이되는요양보호사교육원,교육서비스업,경기도 광명시 하안로288번길 6,경기도 광명시 하안동 62-2번지 뉴코리아나빌딩 401호,14306.0,37.461746,126.881346,1409086670,1015,778545498,1.0,NaN

In [21]:
market['휴폐업상태코드'].unique()

array([nan,  1.,  3.,  2.])

In [26]:
market.loc[market['휴폐업상태코드']==3]

,시군명,상호명,업종명,정제도로명주소,정제지번주소,정제우편번호,정제WGS84위도,정제WGS84경도,사업자등록번호,업종코드,가맹점번호,휴폐업상태코드,폐업일자
30026,과천시,(사) 경기도신체장애인복지회 과천시지부(,일반음식점,경기도 과천시 관문로 69,경기도 과천시 중앙동 1-3번지 과천시청,13806.0,37.428564,126.988101,1998200043,2301,796292155,3.0,2021-08-27
30042,과천시,13월의 태양,일반음식점,경기도 과천시 관문로 130,경기도 과천시 중앙동 36번지 1층 136-2호,13804.0,37.433020,126.993056,3810401959,2301,722311636,3.0,2023-06-30
30052,과천시,2층봄약국,약국,경기도 과천시 별양상가3로 14,경기도 과천시 별양동 1-22번지 e편한세상시티과천 2층 202호,13837.0,37.425783,126.991307,6734800979,4402,734195070,3.0,2023-07-27
30053,과천시,2층봄약국,약국,경기도 과천시 별양상가3로 14,경기도 과천시 별양동 1-22번지 e편한세상시티과천 2층 202호,13837.0,37.425783,126.991307,6734800979,4402,734195070,3.0,2023-07-27
30056,과천시,60계 경기과천점,일반음식점,경기도 과천시 별양로 28,"경기도 과천시 원문동 4번지 래미안슈트 B동 지하1층 27호,28호",13835.0,37.421222,126.991225,3264400610,2301,722737578,3.0,2021-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375301,평택시,힐스템 평택지산지점,미용/뷰티/위생,경기도 평택시 지산로37번길 70,경기도 평택시 지산동 1007번지 2층,17756.0,37.082121,127.059712,2231225062,1002,720633795.0,3.0,2022-10-13
375302,평택시,힐스템 평택지산지점,미용/뷰티/위생,경기도 평택시 지산로37번길 70,경기도 평택시 지산동 1007번지 2층,17756.0,37.082121,127.059712,2231225062,1002,720633795.0,3.0,2022-10-13
375303,평택시,힐스템건강,미용/뷰티/위생,경기도 평택시 탄현로1번길 57-3,경기도 평택시 장당동 492-32번지 에코하임 101호,17784.0,37.051794,127.054197,2231194825,1002,714383555.0,3.0,2023-02-09
375310,평택시,힘내스터디카페,기타전문서비스,경기도 평택시 경기대로 1389,경기도 평택시 서정동 795번지 금원빌딩 3층,17773.0,37.069201,127.063983,4511901271,9511,722067729.0,3.0,2022-12-30
375313,평택시,힙하다(HIPHADA),일반음식점,경기도 평택시 비전9길 68,경기도 평택시 비전동 1061-1번지 1층,17855.0,37.003045,127.113263,7143101096,2301,725630551.0,3.0,2023-10-31

In [17]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418750 entries, 0 to 418749
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시군명        418750 non-null  object
 1   상호명        418750 non-null  object
 2   업종명        418750 non-null  object
 3   정제도로명주소    401510 non-null  object
 4   정제지번주소     418750 non-null  object
 5   정제우편번호     414011 non-null  float64
 6   정제WGS84위도  410910 non-null  float64
 7   정제WGS84경도  410910 non-null  float64
 8   사업자등록번호    418750 non-null  object
 9   업종코드       418750 non-null  int64
 10  가맹점번호      402898 non-null  object
 11  휴폐업상태코드    105882 non-null  float64
 12  폐업일자       15191 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 41.5+ MB

In [28]:
suwon = pd.read_csv('./data/경기도 수원시_지역화폐 결제 정보_20201211.csv', encoding='cp949')

In [29]:
suwon

           기준년월 시군구명 읍면동명 성별    연령대      업종명  결제건수     결제금액     데이터기준일자
0       2020-11  권선구  고색동  남    10대     레져업소    20   106900  2020-12-11
1       2020-11  권선구  고색동  남    10대     보건위생     3    29000  2020-12-11
2       2020-11  권선구  고색동  남    10대     서적문구     1     5600  2020-12-11
3       2020-11  권선구  고색동  남    10대       약국     1    13600  2020-12-11
4       2020-11  권선구  고색동  남    10대    유통업영리    70  2160910  2020-12-11
...         ...  ...  ... ..    ...      ...   ...      ...         ...
128645  2019-04  팔달구  화서동  여  60대이상       약국     2    17900  2020-12-11
128646  2019-04  팔달구  화서동  여  60대이상    유통업영리     3    27690  2020-12-11
128647  2019-04  팔달구  화서동  여  60대이상     음료식품     2    12000  2020-12-11
128648  2019-04  팔달구  화서동  여  60대이상       의원     4    72900  2020-12-11
128649  2019-04  팔달구  화서동  여  60대이상  일반·휴게음식     6    81500  2020-12-11

[128650 rows x 9 columns]

In [30]:
update = pd.read_csv('./data/경기도/지역화폐발행및이용현황.csv', encoding='cp949')

In [39]:
update['시군명'].unique()

array(['가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시'], dtype=object)

In [43]:
update.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0  가평군  2023-12        484.0        4051        2140
1  가평군  2023-11        458.0        2368        2187
2  가평군  2023-10        555.0        2596        2335
3  가평군  2023-09        782.0        3113        2376
4  가평군  2023-08        473.0        3631        2392

In [45]:
total_update = update[['시군명', '월별신규가입자수(명)', '월별충전액(백만원)', '월별사용액(백만원)']].groupby(['시군명']).sum()

In [47]:
total_update.columns = ['신규가입자수','연충전액','총사용액']

In [48]:
## 2023년 경기도 지역화폐 총사용액
total_update

        신규가입자수    연충전액    총사용액
시군명
가평군    10557.0   41826   36092
고양시    45931.0  141316  137251
과천시     8579.0   41791   40745
광명시    61939.0  145619  148055
광주시    22055.0  183581  176580
구리시    20052.0   95748   94415
군포시    20431.0  121747  121760
김포시    31164.0  153277  160135
남양주시   55411.0  252415  250541
동두천시    5964.0   25134   23451
부천시    48938.0  271991  265594
성남시    90012.0  340457  329209
수원시    83697.0  327687  322244
시흥시    38896.0  266952  267141
안산시    35667.0  189345  180435
안성시    37475.0   84827   84778
안양시   169450.0  267133  265608
양주시    21129.0   75640   73886
양평군    13199.0   74071   72623
여주시    10330.0   62232   48789
연천군     6553.0   27073   22797
오산시    14725.0   67197   63557
용인시    79225.0  359181  334530
의왕시    13142.0   37391   37491
의정부시   19815.0   84874   86144
이천시    17951.0  144840  129671
파주시   108008.0  216346  211816
평택시   110882.0  196019  199893
포천시    10285.0   38659   29628
하남시    29096.0  141693  146166
화성시    90907.0  404519  418370

In [69]:
total_update.to_csv('./data/경기도/2023년지역화폐사용액.csv')

In [72]:
test = pd.read_csv('./data/경기도/2023년지역화폐사용액.csv',index_col='시군명')

In [73]:
test

        신규가입자수    연충전액    총사용액
시군명
가평군    10557.0   41826   36092
고양시    45931.0  141316  137251
과천시     8579.0   41791   40745
광명시    61939.0  145619  148055
광주시    22055.0  183581  176580
구리시    20052.0   95748   94415
군포시    20431.0  121747  121760
김포시    31164.0  153277  160135
남양주시   55411.0  252415  250541
동두천시    5964.0   25134   23451
부천시    48938.0  271991  265594
성남시    90012.0  340457  329209
수원시    83697.0  327687  322244
시흥시    38896.0  266952  267141
안산시    35667.0  189345  180435
안성시    37475.0   84827   84778
안양시   169450.0  267133  265608
양주시    21129.0   75640   73886
양평군    13199.0   74071   72623
여주시    10330.0   62232   48789
연천군     6553.0   27073   22797
오산시    14725.0   67197   63557
용인시    79225.0  359181  334530
의왕시    13142.0   37391   37491
의정부시   19815.0   84874   86144
이천시    17951.0  144840  129671
파주시   108008.0  216346  211816
평택시   110882.0  196019  199893
포천시    10285.0   38659   29628
하남시    29096.0  141693  146166
화성시    90907.0  404519  418370

In [50]:
popul = pd.read_csv('./data/경기도/주민등록인구집계현황.csv', encoding='cp949')

In [74]:
popul_2023 = popul.loc[popul['연도'] == 2023].loc[popul['월'] == 12].loc[popul['행정구역구분명'] == '시군']

In [76]:
popul_2023.head(1)

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
2637,2023,12,시군,경기도 가평군,62302,2763,4349,5700,5437,7459,...,2136,2408,2431,3488,5067,6562,3793,2475,438,13

In [81]:
popul_2023 = popul_2023[['행정구역명','총 인구수']].reset_index(drop=True)

In [84]:
popul_2023

        행정구역명    총 인구수
0    경기도 가평군     62302
1    경기도 고양시   1074907
2    경기도 과천시     81000
3    경기도 광명시    280197
4    경기도 광주시    391377
5    경기도 구리시    187093
6    경기도 군포시    261229
7    경기도 김포시    486172
8   경기도 남양주시    732265
9   경기도 동두천시     88626
10   경기도 부천시    779968
11   경기도 성남시    919747
12   경기도 수원시   1197257
13   경기도 시흥시    519715
14   경기도 안산시    629308
15   경기도 안성시    189034
16   경기도 안양시    544660
17   경기도 양주시    268026
18   경기도 양평군    125238
19   경기도 여주시    114412
20   경기도 연천군     41584
21   경기도 오산시    229656
22   경기도 용인시   1075566
23   경기도 의왕시    158870
24  경기도 의정부시    464213
25   경기도 이천시    222098
26   경기도 파주시    497753
27   경기도 평택시    591022
28   경기도 포천시    143323
29   경기도 하남시    329861
30   경기도 화성시    944342

In [85]:
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip('경기도'))

In [89]:
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip())

In [94]:
popul_2023.columns = ['시군명','총인구수']

In [95]:
# 2023년 경기도 인구
popul_2023

     시군명     총인구수
0    가평군    62302
1    고양시  1074907
2    과천시    81000
3    광명시   280197
4    광주시   391377
5    구리시   187093
6    군포시   261229
7    김포시   486172
8   남양주시   732265
9   동두천시    88626
10   부천시   779968
11   성남시   919747
12   수원시  1197257
13   시흥시   519715
14   안산시   629308
15   안성시   189034
16   안양시   544660
17   양주시   268026
18   양평군   125238
19   여주시   114412
20   연천군    41584
21   오산시   229656
22   용인시  1075566
23   의왕시   158870
24  의정부시   464213
25   이천시   222098
26   파주시   497753
27   평택시   591022
28   포천시   143323
29   하남시   329861
30   화성시   944342

In [97]:
popul_2023.to_csv('./data/경기도/2023년경기도인구.csv',index=False)

In [110]:
total = pd.merge(total_update,popul_2023, how='outer', on='시군명')

In [112]:
total['인구수대비사용액'] = total['총사용액'] / total['총인구수']

In [116]:
total.sort_values('인구수대비사용액',ascending=False,inplace=True)

In [118]:
total.reset_index(drop=True,inplace=True)

In [120]:
total.to_csv('./data/경기도/2023년인구수대비사용액.csv',index=False)

In [124]:
total

     시군명    신규가입자수    연충전액    총사용액     총인구수  인구수대비사용액
0    이천시   17951.0  144840  129671   222098  0.583846
1    양평군   13199.0   74071   72623   125238  0.579880
2    가평군   10557.0   41826   36092    62302  0.579307
3    연천군    6553.0   27073   22797    41584  0.548216
4    광명시   61939.0  145619  148055   280197  0.528396
5    시흥시   38896.0  266952  267141   519715  0.514014
6    구리시   20052.0   95748   94415   187093  0.504642
7    과천시    8579.0   41791   40745    81000  0.503025
8    안양시  169450.0  267133  265608   544660  0.487658
9    군포시   20431.0  121747  121760   261229  0.466104
10   광주시   22055.0  183581  176580   391377  0.451176
11   안성시   37475.0   84827   84778   189034  0.448480
12   하남시   29096.0  141693  146166   329861  0.443114
13   화성시   90907.0  404519  418370   944342  0.443028
14   여주시   10330.0   62232   48789   114412  0.426433
15   파주시  108008.0  216346  211816   497753  0.425544
16   성남시   90012.0  340457  329209   919747  0.357934
17  남양주시   55411.0  252415  250541   732265  0.342145
18   부천시   48938.0  271991  265594   779968  0.340519
19   평택시  110882.0  196019  199893   591022  0.338216
20   김포시   31164.0  153277  160135   486172  0.329379
21   용인시   79225.0  359181  334530  1075566  0.311027
22   안산시   35667.0  189345  180435   629308  0.286720
23   오산시   14725.0   67197   63557   229656  0.276749
24   양주시   21129.0   75640   73886   268026  0.275667
25   수원시   83697.0  327687  322244  1197257  0.269152
26  동두천시    5964.0   25134   23451    88626  0.264606
27   의왕시   13142.0   37391   37491   158870  0.235985
28   포천시   10285.0   38659   29628   143323  0.206722
29  의정부시   19815.0   84874   86144   464213  0.185570
30   고양시   45931.0  141316  137251  1074907  0.127686

In [130]:
kdata = []

In [145]:
kdata.append(sum(total['총사용액'])/sum(total['총인구수']))

In [159]:
a = pd.DataFrame({
    '시군명' : ['경기도'],
    '신규가입자수' : 1331465.0,
    '연충전액' : 4880581,
    '총사용액' : 4779395,
    '총인구수' : 13630821,
    '인구수대비사용액' : 0.3506314843397914,
    '인구수대비사용액2' : 3506.314843397914
})

In [146]:
kdata

['경기도', 1331465.0, 4880581, 4779395, 13630821, 0.3506314843397914]

In [ ]:
total['경기도'] = ()

In [160]:
total = pd.concat([total, a], ignore_index=True)

In [161]:
total

     시군명     신규가입자수     연충전액     총사용액      총인구수  인구수대비사용액    인구수대비사용액2
0    이천시    17951.0   144840   129671    222098  0.583846  5838.458698
1    양평군    13199.0    74071    72623    125238  0.579880  5798.799087
2    가평군    10557.0    41826    36092     62302  0.579307  5793.072454
3    연천군     6553.0    27073    22797     41584  0.548216  5482.156599
4    광명시    61939.0   145619   148055    280197  0.528396  5283.960927
5    시흥시    38896.0   266952   267141    519715  0.514014  5140.144117
6    구리시    20052.0    95748    94415    187093  0.504642  5046.420764
7    과천시     8579.0    41791    40745     81000  0.503025  5030.246914
8    안양시   169450.0   267133   265608    544660  0.487658  4876.583557
9    군포시    20431.0   121747   121760    261229  0.466104  4661.044524
10   광주시    22055.0   183581   176580    391377  0.451176  4511.762316
11   안성시    37475.0    84827    84778    189034  0.448480  4484.801676
12   하남시    29096.0   141693   146166    329861  0.443114  4431.139177
13   화성시    90907.0   404519   418370    944342  0.443028  4430.280555
14   여주시    10330.0    62232    48789    114412  0.426433  4264.325420
15   파주시   108008.0   216346   211816    497753  0.425544  4255.443965
16   성남시    90012.0   340457   329209    919747  0.357934  3579.343015
17  남양주시    55411.0   252415   250541    732265  0.342145  3421.452616
18   부천시    48938.0   271991   265594    779968  0.340519  3405.190982
19   평택시   110882.0   196019   199893    591022  0.338216  3382.158363
20   김포시    31164.0   153277   160135    486172  0.329379  3293.793143
21   용인시    79225.0   359181   334530   1075566  0.311027  3110.269384
22   안산시    35667.0   189345   180435    629308  0.286720  2867.196985
23   오산시    14725.0    67197    63557    229656  0.276749  2767.487024
24   양주시    21129.0    75640    73886    268026  0.275667  2756.672860
25   수원시    83697.0   327687   322244   1197257  0.269152  2691.519031
26  동두천시     5964.0    25134    23451     88626  0.264606  2646.063232
27   의왕시    13142.0    37391    37491    158870  0.235985  2359.853969
28   포천시    10285.0    38659    29628    143323  0.206722  2067.218799
29  의정부시    19815.0    84874    86144    464213  0.185570  1855.699862
30   고양시    45931.0   141316   137251   1074907  0.127686  1276.863952
31   경기도  1331465.0  4880581  4779395  13630821  0.350631  3506.314843

In [154]:
total['인구수대비사용액2'] = total['인구수대비사용액'] * 10000

In [157]:
total

     시군명    신규가입자수    연충전액    총사용액     총인구수  인구수대비사용액    인구수대비사용액2
0    이천시   17951.0  144840  129671   222098  0.583846  5838.458698
1    양평군   13199.0   74071   72623   125238  0.579880  5798.799087
2    가평군   10557.0   41826   36092    62302  0.579307  5793.072454
3    연천군    6553.0   27073   22797    41584  0.548216  5482.156599
4    광명시   61939.0  145619  148055   280197  0.528396  5283.960927
5    시흥시   38896.0  266952  267141   519715  0.514014  5140.144117
6    구리시   20052.0   95748   94415   187093  0.504642  5046.420764
7    과천시    8579.0   41791   40745    81000  0.503025  5030.246914
8    안양시  169450.0  267133  265608   544660  0.487658  4876.583557
9    군포시   20431.0  121747  121760   261229  0.466104  4661.044524
10   광주시   22055.0  183581  176580   391377  0.451176  4511.762316
11   안성시   37475.0   84827   84778   189034  0.448480  4484.801676
12   하남시   29096.0  141693  146166   329861  0.443114  4431.139177
13   화성시   90907.0  404519  418370   944342  0.443028  4430.280555
14   여주시   10330.0   62232   48789   114412  0.426433  4264.325420
15   파주시  108008.0  216346  211816   497753  0.425544  4255.443965
16   성남시   90012.0  340457  329209   919747  0.357934  3579.343015
17  남양주시   55411.0  252415  250541   732265  0.342145  3421.452616
18   부천시   48938.0  271991  265594   779968  0.340519  3405.190982
19   평택시  110882.0  196019  199893   591022  0.338216  3382.158363
20   김포시   31164.0  153277  160135   486172  0.329379  3293.793143
21   용인시   79225.0  359181  334530  1075566  0.311027  3110.269384
22   안산시   35667.0  189345  180435   629308  0.286720  2867.196985
23   오산시   14725.0   67197   63557   229656  0.276749  2767.487024
24   양주시   21129.0   75640   73886   268026  0.275667  2756.672860
25   수원시   83697.0  327687  322244  1197257  0.269152  2691.519031
26  동두천시    5964.0   25134   23451    88626  0.264606  2646.063232
27   의왕시   13142.0   37391   37491   158870  0.235985  2359.853969
28   포천시   10285.0   38659   29628   143323  0.206722  2067.218799
29  의정부시   19815.0   84874   86144   464213  0.185570  1855.699862
30   고양시   45931.0  141316  137251  1074907  0.127686  1276.863952

In [162]:
total.to_csv('./data/경기도/2023년인구수대비사용액.csv', index=False)