In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../csv/uriage.csv")

In [3]:
df.head()
# 데이터 정형화 
# 1. 결측치 2. item_name 공백 3. item_name 대소문자

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

#### uriage 데이터에서 문제점
1. item_name이 대/소문자 문제
    - 모든 문자를 대문자(소문자) 변환
    - upper(), lower()
2. item_name에 공백 존재
    - 공백을　제거　
    - strip(), replace()

In [4]:
## item_name에 문자들을 모두 대문자로 변환 
df['item_name'].upper()                         # 에러 발생. 시리즈에는 upper()함수 없다.

0         상품A
1       상 품 S
2       상 품 a
3         상품Z
4         상품a
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [6]:
df['item_name'][2].upper()                     # 시리즈 안의 값을 하나 추출하면 문자이기때문에 upper() 쓸 수 있다.

'상 품 a'

In [23]:
df2 = df.copy()

In [24]:
# case1 (반복문을 이용)
for i in range(0, len(df2)):
    # i에 대입되는 데이터 -> df2의 인덱스 값
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].upper()

In [25]:
df2.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [ ]:
df3 = df.copy()

#### lambda 함수 
- 일반함수는 선언과 호출 2가지의 과정으로 나누어 진다.
- lambda 함수는 선언과 동시에 호출이 자동으로 된다.
    - lambda 매개변수명 : 실행이 될 코드 
- 일반함수로 사용을 하기에는 너무 간단한 작업은 lambda로 생성

In [29]:
## case2 ( map() -> 1차원 자료형 구조 데이터에서 각 데이터들을 하나씩 추출하여 작업(함수) )                            # 많이 사용한다.

# Base(python) : map( 함수, 1차원 리스트명 )
_list = [1,2,3,4]
# map(), lambda 결합
list(map(
    lambda x : x + 1,
    _list
)) 
# map(), 일반 함수 결합
def change(x):
    return x + 2
list(                                   # 반복문을 간단하게 사용할 수 있다.
    map(
        change,                          # 함수명만 쓰는 것. 인자값 적지 않는다
        _list
    )
)

[3, 4, 5, 6]

In [ ]:
df2.loc[i, 'item_name'](map(
    lambda  : 
))

In [22]:
# 공백제거 case1 (반복문 사용)               # 혼자 해본 것
for i in range(0, len(df2)):
    df2.loc[i, 'item_name'] = df2.loc[i, 'item_name'].replace(" ", "")
df2.head(20)

       purchase_date item_name  item_price customer_name
0   2019-06-13 18:02       상품A       100.0           김가온
1   2019-07-13 13:05       상품S         NaN           김우찬
2   2019-05-11 19:42       상품A         NaN           김유찬
3   2019-02-12 23:40       상품Z      2600.0           김재현
4    2019-04-22 3:09       상품A         NaN           김강현
5   2019-03-20 19:16       상품S      1900.0           김우진
6   2019-05-18 19:16       상품A         NaN           김재준
7    2019-04-18 0:14       상품V      2200.0           김민혁
8   2019-01-10 15:51       상품O      1500.0           김선우
9   2019-01-28 10:47       상품A       100.0           김태윤
10   2019-06-21 1:54       상품U      2100.0           김시완
11  2019-06-08 11:32       상품L      1200.0           김도윤
12   2019-04-08 2:00       상품V      2200.0           김주한
13   2019-06-19 9:50       상품O      1500.0           김도원
14  2019-06-11 12:57       상품A         NaN           김재호
15   2019-04-21 0:11       상품C       300.0           김지율
16  2019-03-28 23:24       상품V      2200.0           김재훈
17  2019-04-06 12:00       상품I       900.0           김상현
18   2019-07-16 5:55       상품R      1800.0           김준성
19   2019-07-03 7:04       상품X      2400.0           김성민