In [1]:
## 문자열 내장 함수
a = ' Hello world '

In [3]:
# 문자열을 모두 대문자로 변경
print(a.upper())
# 문자열을 모두 소문자로 변경
print(a.lower())
# 대문자를 소문자로, 소문자를 대문자로 변경
print(a.swapcase())
# 단어의 첫글자만 대문자로 변경
print(a.title())                                      # a는 바뀌지 않았다. 
# 리스트의 내부함수는(list.sort()) 데이터가 변경된다.
# 문자열 함수는 데이터가 변경되지 않는다. a = a.upper()로 대입연산자를 해줘야 변경이 된다.
# 변경 여부 이유는 class 구조에 대한 이해가 필요하다. 추후 수업 확인.

 HELLO WORLD
 hello world
 hELLO WORLD
 Hello World

In [4]:
a == 'Hello world'           # a는 앞 뒤에 공백이 존재

False

In [7]:
## 문자열에서 좌우의 공백을 제거
a.strip()  # 좌우 공백 제거                       # 좌우공백 확인위해 print 쓰지 않음. print쓰지 않으면 ' '안에 나온다. # 240319_func 함수생성 참조

'Hello world'

In [8]:
a.lstrip()  # 좌측 공백 제거

'Hello world '

In [9]:
a.rstrip()  # 우측 공백 제거

' Hello world'

In [ ]:
price = "$100" 
# price를 숫자의 형태로 변경
int(price)          # 에러 발생 : $는 숫자로 변경 불가

In [26]:
# 왼쪽에 있는 $를 벗겨낸다.
price = price.lstrip("$")
print(price, type(price))
price = int(price)
print(price, type(price))

100 <class 'str'>
100 <class 'int'>

In [28]:
test_str = '\n \t text \t \n'               # 크롤링해오면 다음과 같은 형태 많이 나온다.  \n : 줄바꿈, \t : tab
print(test_str)

 	 text

In [29]:
test_str.strip()

'text'

In [30]:
# strip() 함수는 문자가 시작되지 전, 문자가 끝나고 나서 데이터들을 제거
# 문자열 사이의 데이터들을 변경해주기 위한 함수 replace("변경할 문자열", "변경될 문자열")
a.replace("Hello", "Hi")

' Hi world '

In [31]:
# 공백을 제거할 이유로 replace()
a.replace(" ","")

'Helloworld'

In [40]:
test_str2 = "Hello \n World"

In [41]:
print(test_str2)

Hello
 World

In [42]:
test_str2.strip()        # strip()은 문자열 사이의 공백이 제거되지 않는다.

'Hello \n World'

In [43]:
test_str2.replace("\n", "")

'Hello  World'

In [44]:
## 문자열을 리스트로 변경
a = "test test2 test2"

In [ ]:
list(a)  # 문자 하나 하나씩을 각 원소로 하여 리스트 생성

In [46]:
# 문자열에서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test2']

In [47]:
b = "20/30/40"
b.split("/")

['20', '30', '40']

In [54]:
## 문자열에서 비교 연산을 하는 함수    # 녹음 7:52
query = "select * from table"
query2 = """
        SELECT
        *
        form
        table
"""                                # """"  ~~~  """"으로 적으면 띄어쓰기해도 하나의 문자로 인식한다.

In [59]:
# query, query2가 select로 시작하는가?
query[:6] == 'select'

True

In [58]:
query2.strip().lower()[:6] == 'select'

True

In [60]:
query.split()

['select', '*', 'from', 'table']

In [61]:
query2.split()

['SELECT', '*', 'form', 'table']

In [64]:
query.lower().split()[0] == 'select'

True

In [65]:
query2.lower().split()[0] == 'select'

True

In [69]:
query.lower().strip().startswith('select')           # startswith() : 시작이 ~와 같다면     # endswith() : 끝이 ~와 같다면

True

In [68]:
query2.lower().strip().startswith('select')

'select\n        *\n        form\n        table'