In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../data/경기도/전처리 후/회귀df결측치포함.csv')
life_popul = pd.read_csv('../../../data/경기도/원본/생활인구/전처리/생활인구하루평균.csv')

In [ ]:
test = pd.read_csv('../../../data/경기도/원본/.csv')

In [5]:
df2 = df[['기준년월','시군명','총인구수','신규가입자수','월별충전액','월별사용액','가맹점수']]
df2

        기준년월  시군명    총인구수  신규가입자수  월별충전액  월별사용액   가맹점수
0    2023-01  가평군   62114   717.0   3140   3540   3354
1    2023-02  가평군   62069   769.0   3032   3092   3354
2    2023-03  가평군   61969  3130.0   4284   3609   3354
3    2023-04  가평군   61915   855.0   3668   4057   3354
4    2023-05  가평군   61836   871.0   5064   3785   3354
..       ...  ...     ...     ...    ...    ...    ...
338  2023-07  화성시  932626  8026.0  36869  36480  27663
339  2023-08  화성시  934287  7804.0  34116  35008  27663
340  2023-09  화성시  937189  7792.0  40559  36188  27663
341  2023-10  화성시  939302  7667.0  37117  38199  27663
342  2023-11  화성시  941489  6808.0  34953  32898  27663

[343 rows x 7 columns]

In [10]:
df3 = pd.merge(df2, life_popul, how='left', on='시군명')
df3 = df3.rename(columns={'인구수' : '생활인구수'})
df3

        기준년월  시군명    총인구수  신규가입자수  월별충전액  월별사용액   가맹점수   생활인구수
0    2023-01  가평군   62114   717.0   3140   3540   3354   72214
1    2023-02  가평군   62069   769.0   3032   3092   3354   72214
2    2023-03  가평군   61969  3130.0   4284   3609   3354   72214
3    2023-04  가평군   61915   855.0   3668   4057   3354   72214
4    2023-05  가평군   61836   871.0   5064   3785   3354   72214
..       ...  ...     ...     ...    ...    ...    ...     ...
338  2023-07  화성시  932626  8026.0  36869  36480  27663  919545
339  2023-08  화성시  934287  7804.0  34116  35008  27663  919545
340  2023-09  화성시  937189  7792.0  40559  36188  27663  919545
341  2023-10  화성시  939302  7667.0  37117  38199  27663  919545
342  2023-11  화성시  941489  6808.0  34953  32898  27663  919545

[343 rows x 8 columns]

In [16]:
df3['인당사용액(생활)'] = (df3['월별사용액'] / df3['생활인구수']) * 1000000
df3['인당사용액(생활)'] = df3['인당사용액(생활)'].astype(int)
df3

        기준년월  시군명    총인구수  신규가입자수  월별충전액  월별사용액   가맹점수   생활인구수  인당사용액(생활)
0    2023-01  가평군   62114   717.0   3140   3540   3354   72214      49020
1    2023-02  가평군   62069   769.0   3032   3092   3354   72214      42817
2    2023-03  가평군   61969  3130.0   4284   3609   3354   72214      49976
3    2023-04  가평군   61915   855.0   3668   4057   3354   72214      56180
4    2023-05  가평군   61836   871.0   5064   3785   3354   72214      52413
..       ...  ...     ...     ...    ...    ...    ...     ...        ...
338  2023-07  화성시  932626  8026.0  36869  36480  27663  919545      39671
339  2023-08  화성시  934287  7804.0  34116  35008  27663  919545      38071
340  2023-09  화성시  937189  7792.0  40559  36188  27663  919545      39354
341  2023-10  화성시  939302  7667.0  37117  38199  27663  919545      41541
342  2023-11  화성시  941489  6808.0  34953  32898  27663  919545      35776

[343 rows x 9 columns]

In [21]:
df3.to_csv('../../../data/경기도/전처리 후/생활인구포함.csv',index=False)

In [22]:
df4 = pd.read_csv('../../../data/경기도/전처리 후/생활인구포함.csv')

In [51]:
df4['인당사용액(인구)'] = df4['월별사용액'] / df4['총인구수'] * 1000000

In [52]:
df4['인당사용액(인구)'] = df4['인당사용액(인구)'].astype(int)

In [54]:
df4.to_csv('../../../data/경기도/전처리 후/생활인구,거주인구.csv',index=False)

In [29]:
df4

,기준년월,시군명,총인구수,신규가입자수,월별충전액,월별사용액,가맹점수,생활인구수,인당사용액(생활),인당사용액(인구)
0,2023-01,가평군,62114,717.0,3140,3540,3354,72214,49020,56991
1,2023-02,가평군,62069,769.0,3032,3092,3354,72214,42817,49815
2,2023-03,가평군,61969,3130.0,4284,3609,3354,72214,49976,58238
3,2023-04,가평군,61915,855.0,3668,4057,3354,72214,56180,65525
4,2023-05,가평군,61836,871.0,5064,3785,3354,72214,52413,61210
...,...,...,...,...,...,...,...,...,...,...
338,2023-07,화성시,932626,8026.0,36869,36480,27663,919545,39671,39115
339,2023-08,화성시,934287,7804.0,34116,35008,27663,919545,38071,37470
340,2023-09,화성시,937189,7792.0,40559,36188,27663,919545,39354,38613
341,2023-10,화성시,939302,7667.0,37117,38199,27663,919545,41541,40667
342,2023-11,화성시,941489,6808.0,34953,32898,27663,919545,35776,34942

In [53]:
### 군포, 하남, 의왕 인구수 이상치 처리 
df4[df4['시군명'] == '군포시']

,기준년월,시군명,총인구수,신규가입자수,월별충전액,월별사용액,가맹점수,생활인구수,인당사용액(생활),인당사용액(인구)
68,2023-01,군포시,265999,2826.0,17910,15187,7369,244694,62065,57094
69,2023-02,군포시,265648,2095.0,5408,9314,7369,244694,38063,35061
70,2023-03,군포시,265252,1532.0,6140,7520,7369,244694,30732,28350
71,2023-04,군포시,264857,1667.0,11202,9883,7369,244694,40389,37314
72,2023-05,군포시,264624,1347.0,10575,10521,7369,244694,42996,39758
73,2023-06,군포시,264230,1279.0,9909,10070,7369,244694,41153,38110
74,2023-07,군포시,264230,1569.0,12145,11034,7369,244694,45093,41759
75,2023-08,군포시,264230,1736.0,10295,11126,7369,244694,45469,42107
76,2023-09,군포시,264230,1995.0,13090,9386,7369,244694,38358,35522
77,2023-10,군포시,262587,1716.0,8270,9571,7369,244694,39114,36448
78,2023-11,군포시,261898,1337.0,8125,8968,7369,244694,36649,34242
79,2023-12,군포시,261229,1332.0,8678,9180,7369,244694,37516,35141