In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../data/경기도/전처리 후/total_df/2023년 지역화폐,인구.csv')
df

,시군명,기준년월,신규가입자,월별충전액,월별사용액,가맹점수,총인구수,생활인구수,20~29세,30~39세,40~49세,50~59세,60세 이상
0,가평군,2023-12,484.0,4051,2140,3354,62302,72214,5700,5437,7459,10845,25749
1,가평군,2023-11,458.0,2368,2187,3354,62131,72214,5677,5426,7435,10788,25686
2,가평군,2023-10,555.0,2596,2335,3354,62125,72214,5685,5415,7438,10767,25662
3,가평군,2023-09,782.0,3113,2376,3354,61976,72214,5681,5383,7438,10736,25587
4,가평군,2023-08,473.0,3631,2392,3354,61773,72214,5689,5315,7410,10715,25489
...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,화성시,2023-05,6717.0,35058,37413,27663,928550,919545,110625,153118,181286,133438,145333
368,화성시,2023-04,8440.0,35557,35525,27663,925186,919545,110518,152265,180984,132479,144507
369,화성시,2023-03,9111.0,35906,36982,27663,922231,919545,110109,151668,180807,131884,143344
370,화성시,2023-02,7829.0,30162,33325,27663,918865,919545,109856,150834,180450,131143,142350
371,화성시,2023-01,7038.0,29534,35112,27663,914500,919545,109773,150480,179194,130278,141374

In [4]:
df[df['시군명'] == '고양시']

,시군명,기준년월,신규가입자,월별충전액,월별사용액,가맹점수,총인구수,생활인구수,20~29세,30~39세,40~49세,50~59세,60세 이상
12,고양시,2023-12,3103.0,15768,12994,26672,1074907,992201,134406,143591,168583,198739,260305
13,고양시,2023-11,3247.0,14389,12450,26672,1075089,992201,134885,143554,169048,198243,259629
14,고양시,2023-10,4554.0,13499,11696,26672,1075898,992201,135320,143735,169470,197952,259116
15,고양시,2023-09,4207.0,10500,11022,26672,1076376,992201,135648,143858,169922,197872,258219
16,고양시,2023-08,3527.0,11057,11989,26672,1076655,992201,136030,143763,170201,197964,257274
17,고양시,2023-07,3811.0,14686,11992,26672,1077156,992201,136635,143651,170580,198047,256315
18,고양시,2023-06,2809.0,10175,11714,26672,1077742,992201,137177,143764,170927,198097,255340
19,고양시,2023-05,3722.0,11006,12514,26672,1077963,992201,137662,143790,171234,198014,254438
20,고양시,2023-04,4329.0,13576,12364,26672,1078025,992201,138144,143532,171862,197719,253504
21,고양시,2023-03,4029.0,13370,11819,26672,1077909,992201,138538,143322,172298,198123,251908
22,고양시,2023-02,4467.0,11680,9746,26672,1078087,992201,138923,143202,172795,198114,250576
23,고양시,2023-01,4126.0,1610,6951,26672,1077599,992201,139637,143181,172725,198039,249171

In [8]:
df2 = df

In [7]:
### 스케일링
df2['월별사용액비중'] = df2['월별사용액'].map(lambda x : x/sum(df2['월별사용액']))

0      0.000448
1      0.000458
2      0.000489
3      0.000497
4      0.000500
         ...
367    0.007828
368    0.007433
369    0.007738
370    0.006973
371    0.007347
Name: 월별사용액, Length: 372, dtype: float64

In [11]:
grouped = df2.groupby('시군명').agg({
    '신규가입자': 'sum',
    '월별충전액': 'sum',
    '월별사용액': 'sum',
    '총인구수': 'mean',
    '가맹점수': 'mean',
    '생활인구수': 'mean',
    '20~29세': 'mean',
    '30~39세': 'mean',
    '40~49세': 'mean',
    '50~59세': 'mean',
    '60세 이상': 'mean'
}).reset_index()

In [14]:
grouped['신규가입자','월별충전액','월별사용액','총인구수','가맹점수','생활인구수','20~29세','30~39세','']

,시군명,신규가입자,월별충전액,월별사용액,총인구수,가맹점수,생활인구수,20~29세,30~39세,40~49세,50~59세,60세 이상
0,가평군,10557.0,41826,36092,6.197708e+04,3354.0,72214.0,5746.666667,5366.000000,7475.250000,10773.666667,25434.833333
1,고양시,45931.0,141316,137251,1.076950e+06,26672.0,992201.0,136917.083333,143578.583333,170803.750000,198076.916667,255482.916667
2,과천시,8579.0,41791,40745,8.002592e+04,1674.0,83240.0,9630.000000,11904.583333,12321.333333,13121.416667,17577.166667
3,광명시,61939.0,145619,148055,2.825103e+05,7835.0,249443.0,33772.083333,37198.666667,47097.916667,48323.666667,68304.333333
4,광주시,22055.0,183581,176580,3.913983e+05,11204.0,354899.0,42303.000000,53135.916667,68700.166667,67308.166667,94226.083333
5,구리시,20052.0,95748,94415,1.881067e+05,6281.0,176175.0,23698.833333,24141.500000,30156.583333,34397.250000,46530.666667
6,군포시,20431.0,121747,121760,2.636738e+05,7369.0,244694.0,25993.166667,28132.916667,30793.833333,35495.250000,49130.250000
7,김포시,31164.0,153277,160135,4.854516e+05,14172.0,469345.0,49776.500000,68179.500000,94064.833333,71723.250000,101860.250000
8,남양주시,55411.0,252415,250541,7.341459e+05,20530.0,653388.0,82589.000000,86274.333333,129947.250000,126069.166667,173328.833333
9,동두천시,5964.0,25134,23451,8.972567e+04,3308.0,86257.0,9924.000000,9039.500000,12640.666667,16103.416667,29218.500000
10,부천시,48938.0,271991,265594,7.856502e+05,26036.0,763602.0,101272.083333,108025.083333,120140.583333,139934.916667,203889.333333
11,성남시,90012.0,340457,329209,9.208524e+05,17758.0,986117.0,118511.500000,133833.416667,148763.250000,154137.416667,220416.250000
12,수원시,83697.0,327687,322244,1.193916e+06,37485.0,1155757.0,177643.750000,182098.166667,196626.333333,200131.750000,238888.083333
13,시흥시,38896.0,266952,267141,5.177893e+05,14727.0,507287.0,65311.916667,76147.583333,93415.500000,91464.250000,95298.833333
14,안산시,35667.0,189345,180435,6.352958e+05,21302.0,681173.0,96405.000000,83147.166667,96507.666667,125598.166667,139748.000000
15,안성시,37475.0,84827,84778,1.890525e+05,7662.0,211614.0,22339.250000,21694.583333,29468.916667,32382.666667,53890.083333
16,안양시,169450.0,267133,265608,5.457664e+05,16937.0,543914.0,69613.333333,78561.416667,83471.000000,94726.583333,134335.500000
17,양주시,21129.0,75640,73886,2.580638e+05,9736.0,235005.0,28834.666667,32092.166667,42646.166667,43433.750000,64088.750000
18,양평군,13199.0,74071,72623,1.236091e+05,4476.0,116867.0,9922.000000,10377.833333,16029.666667,21176.916667,49605.750000
19,여주시,10330.0,62232,48789,1.138374e+05,4708.0,122555.0,11355.583333,11166.583333,15595.666667,20143.000000,39834.500000
20,연천군,6553.0,27073,22797,4.174675e+04,2169.0,49343.0,4645.083333,3957.416667,4404.583333,6640.000000,17098.666667
21,오산시,14725.0,67197,63557,2.294594e+05,7052.0,225973.0,29353.500000,35287.750000,44510.750000,35637.000000,40480.500000
22,용인시,79225.0,359181,334530,1.075691e+06,25683.0,1050657.0,133495.583333,134007.583333,192120.083333,179923.000000,230754.583333
23,의왕시,13142.0,37391,37491,1.587671e+05,3329.0,178713.0,15746.250000,17553.000000,18226.000000,21845.333333,30951.833333
24,의정부시,19815.0,84874,86144,4.638354e+05,13485.0,419111.0,60716.666667,60250.916667,71613.333333,81807.916667,118016.750000
25,이천시,17951.0,144840,129671,2.228304e+05,8427.0,250471.0,29514.666667,30366.666667,34756.416667,36043.916667,53786.333333
26,파주시,108008.0,216346,211816,4.968607e+05,15986.0,510787.0,57537.083333,69334.333333,84536.833333,81444.916667,111163.833333
27,평택시,110882.0,196019,199893,5.861266e+05,20599.0,627320.0,77526.000000,91094.500000,100769.833333,96168.833333,115847.416667
28,포천시,10285.0,38659,29628,1.445952e+05,6566.0,171992.0,16481.666667,13943.416667,17907.916667,28106.750000,50426.083333
29,하남시,29096.0,141693,146166,3.283037e+05,9206.0,304452.0,28407.000000,40205.666667,46812.500000,37382.916667,54185.166667
30,화성시,90907.0,404519,418370,9.307642e+05,27663.0,919545.0,110546.583333,153315.333333,181751.416667,134203.000000,146300.250000