In [3]:
import pandas as pd

## 데이터 수집(크롤링) 
- total_df.csv (음식점 정보 데이터)
- 음식점 리뷰 데이터 225개 ex) 앤디스 커피.csv

In [ ]:
total_df = pd.read_csv('../data1/total_df.csv')

In [3]:
total_df

,merchant,category,star,address,oper_time,starCount,reviewCount
0,피오니 홍대점,카페,3.8,서울마포구 독막로7길51 1층(우)04043,매일 12:00 ~ 21:00\r\n\r\n매일 라스트오더 ~ 20:30,274,642
1,943킹스크로스,테마카페,4.1,"서울마포구 양화로16길24 지하1층,1~4층(우)04039",월~목 11:30 ~ 21:30\r\n\r\n금~일 10:00 ~ 21:30,360,191
2,카미야,"돈까스,우동",4.2,서울마포구 와우산로21길28-6 지하1층(우)04040,매일 11:00 ~ 21:30\r\n\r\n매일 라스트오더 ~ 21:00,191,426
3,우와 홍대본점,일식,3.4,서울마포구 와우산로21길21-16 2층202호(우)04041,매일 12:00 ~ 22:00월~금 휴게시간 14:30 ~ 17:00,168,624
4,칸다소바 홍대점,일본식라면,4.3,서울마포구 와우산로51-6 1층(우)04049,매일 10:30 ~ 21:30\r\n\r\n월~토 휴게시간 16:00 ~ 17:00...,280,439
...,...,...,...,...,...,...,...
220,키즈나,일본식주점,4.2,서울마포구 와우산로29바길6 지층(우)04053,화~일 17:00 ~ 02:00,29,51
221,앤디스커피,카페,3.3,"서울마포구 와우산로35길75 2,3층(우)04052","월~금 10:00 ~ 23:00\r\n\r\n토,일 11:00 ~ 23:00",30,3
222,델문도,카페,2.9,서울마포구 잔다리로19-6 2층(우)04048,"월~금 13:00 ~ 21:00\r\n\r\n토,일 12:00 ~ 21:00",64,90
223,스노브,디저트카페,3.5,서울마포구 와우산로59 (우)04049,매일 11:00 ~ 23:00,47,30
224,오니,일본식주점,0.0,"서울마포구 어울마당로75 2,3층(우)04042","월,화,수,목,일 16:00 ~ 05:00\r\n\r\n금,토 16:00 ~ 06:...",0,70

In [29]:
endcoffee = pd.read_csv('../data2/최종 data2/츠케루.csv')

In [30]:
endcoffee.head(14)

,user_name,user_rank,num_response,user_star,time,rating,content
0,jung,22,60,4.2,2024.04.24.,5.0,츠케멘 맛집 맛있어서 재방문했어요!
1,유시우,4,1,5.0,2024.04.23.,5.0,일본에서 먹었던 츠케멘이 생각나는 맛이였어요! 다음에 또 오고싶습니다 :)
2,바모스,51,344,4.1,2024.04.23.,1.0,알바
3,이태원 고양이,17,23,2.5,2024.04.21.,5.0,존맛!!!너무 맛있어요!
4,ㅇㅇ,45,308,4.4,2024.04.21.,5.0,지하 주차장 무료
5,원형,2,1,5.0,2024.04.20.,5.0,오픈 주방이라 좋아보여요 다음에 또 방문 예정
6,깜,5,2,1.0,2024.04.20.,1.0,특이하다...내가 알던 라멘은 라멘이 아니었나보다. 제 취향은 아니었네요
7,성민,2,1,5.0,2024.04.20.,5.0,맛있어요 ㄹㅇ로
8,별점조작은말없이1점,57,475,2.9,2024.04.19.,1.0,NaN
9,이,7,17,5.0,2024.04.18.,5.0,라멘 좋아하는데 진짜 맛있네요~~ 짜지않고 딱 맛있어요
10,김유진,5,4,5.0,2024.04.18.,5.0,츠케멘 너무 맛잇어연 😊라멘도 맛잇어용 다음에도 또 방문할게요
11,이현빈,2,2,5.0,2024.04.18.,5.0,분위기가 좋고 사장님이 친절하셔서 맛있게 먹고 나왔어요!!
12,joon,2,1,5.0,2024.04.17.,5.0,시원하고 속풀이에 좋아요 맛있네요!!
13,ㅋ,31,123,3.0,2024.04.17.,1.0,많이 남겼습니다...국물은 미적지근 두가지 맛 모두 간도 애매 여기저기 잘하는곳 마...

## 데이터 전처리

#### total_df_clean : 리뷰내용이 있는 198개의 데이터만 남겨놓음

In [7]:
total_df_clean = pd.read_csv('../data1/total_df_clean.csv')

In [8]:
total_df_clean

,merchant,category,star,address,oper_time,starCount,reviewCount
0,피오니 홍대점,카페,3.8,서울마포구 독막로7길51 1층(우)04043,매일 12:00 ~ 21:00\r\n\r\n매일 라스트오더 ~ 20:30,274,642
1,943킹스크로스,테마카페,4.1,"서울마포구 양화로16길24 지하1층,1~4층(우)04039",월~목 11:30 ~ 21:30\r\n\r\n금~일 10:00 ~ 21:30,360,191
2,카미야,"돈까스,우동",4.2,서울마포구 와우산로21길28-6 지하1층(우)04040,매일 11:00 ~ 21:30\r\n\r\n매일 라스트오더 ~ 21:00,191,426
3,우와 홍대본점,일식,3.4,서울마포구 와우산로21길21-16 2층202호(우)04041,매일 12:00 ~ 22:00월~금 휴게시간 14:30 ~ 17:00,168,624
4,칸다소바 홍대점,일본식라면,4.3,서울마포구 와우산로51-6 1층(우)04049,매일 10:30 ~ 21:30\r\n\r\n월~토 휴게시간 16:00 ~ 17:00...,280,439
...,...,...,...,...,...,...,...
193,와우끝집,회,3.9,서울마포구 와우산로156 2층(우)04061,월~토 17:00 ~ 22:00,37,93
194,키즈나,일본식주점,4.2,서울마포구 와우산로29바길6 지층(우)04053,화~일 17:00 ~ 02:00,29,51
195,앤디스커피,카페,3.3,"서울마포구 와우산로35길75 2,3층(우)04052","월~금 10:00 ~ 23:00\r\n\r\n토,일 11:00 ~ 23:00",30,3
196,델문도,카페,2.9,서울마포구 잔다리로19-6 2층(우)04048,"월~금 13:00 ~ 21:00\r\n\r\n토,일 12:00 ~ 21:00",64,90
197,스노브,디저트카페,3.5,서울마포구 와우산로59 (우)04049,매일 11:00 ~ 23:00,47,30

#### review_df : 225개 음식점의 리뷰데이터 모두 합치고 'merchant'열 추가

In [9]:
review_df = pd.read_csv('../data2/review_df.csv')

In [11]:
review_df

,merchant,user_name,user_rank,num_response,user_star,time,rating,content
0,1984,2018.05.10,22,58,2.5,2024.04.21.,5.0,"까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에..."
1,1984,ㅇㅅㅇ,2,3,2.3,2024.03.22.,1.0,NaN
2,1984,맛난곳만리뷰,7,7,5.0,2024.02.10.,5.0,다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여
3,1984,진아,25,58,4.6,2024.02.05.,4.0,넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음
4,1984,박찬찬,27,71,3.9,2023.12.16.,1.0,"분위기는 좋으나, 장사할 생각 없어보임커피값도 비싼 편인데 돈값 못함카페는 부수적인..."
...,...,...,...,...,...,...,...,...
22378,훠궈나라 홍대점,ㅇㅅㅇ,31,122,4.0,2019.12.28.,5.0,역대급 최고인데여?????
22379,훠궈나라 홍대점,상준,3,2,5.0,2019.12.14.,5.0,굿굿굿
22380,훠궈나라 홍대점,.,9,15,4.3,2019.11.18.,5.0,맛있어요. 몇번왔어요. 생각나는 맛이에요ㅜㅠ
22381,훠궈나라 홍대점,김후연,2,1,1.0,2019.11.03.,1.0,맛없음
22382,훠궈나라 홍대점,아임,10,16,4.1,2019.10.01.,4.0,"백탕, 홍탕으로 먹었는데, 홍탕은 매운 레벨 낮춰서 드시길..생각보다 혀가 얼얼해요..."

#### review_df_clean : 리뷰 keywords 추출

In [ ]:
review_df_clean = pd.read_csv('../data2/review_df_clean.csv')

In [35]:
review_df_clean.loc[review_df_clean['merchant'] == '츠케루'].head(14)

,merchant,user_name,user_rank,num_response,user_star,time,rating,content,keywords
12229,츠케루,jung,22,60,4.2,2024.04.24.,5.0,츠케멘 맛집 맛있어서 재방문했어요!,"['츠케멘', '맛집', '방문']"
12230,츠케루,유시우,4,1,5.0,2024.04.23.,5.0,일본에서 먹었던 츠케멘이 생각나는 맛이였어요! 다음에 또 오고싶습니다 :),"['일본', '츠케멘', '다음']"
12231,츠케루,바모스,51,344,4.1,2024.04.23.,1.0,알바,['알바']
12232,츠케루,이태원 고양이,17,23,2.5,2024.04.21.,5.0,존맛!!!너무 맛있어요!,['존맛']
12233,츠케루,ㅇㅇ,45,308,4.4,2024.04.21.,5.0,지하 주차장 무료,"['지하', '주차장', '무료']"
12234,츠케루,원형,2,1,5.0,2024.04.20.,5.0,오픈 주방이라 좋아보여요 다음에 또 방문 예정,"['오픈', '주방', '다음', '방문', '예정']"
12235,츠케루,깜,5,2,1.0,2024.04.20.,1.0,특이하다...내가 알던 라멘은 라멘이 아니었나보다. 제 취향은 아니었네요,"['라멘', '라멘', '취향']"
12236,츠케루,성민,2,1,5.0,2024.04.20.,5.0,맛있어요 ㄹㅇ로,[]
12237,츠케루,이,7,17,5.0,2024.04.18.,5.0,라멘 좋아하는데 진짜 맛있네요~~ 짜지않고 딱 맛있어요,"['라멘', '진짜']"
12238,츠케루,김유진,5,4,5.0,2024.04.18.,5.0,츠케멘 너무 맛잇어연 😊라멘도 맛잇어용 다음에도 또 방문할게요,"['츠케멘', '라멘', '다음', '방문']"
12239,츠케루,이현빈,2,2,5.0,2024.04.18.,5.0,분위기가 좋고 사장님이 친절하셔서 맛있게 먹고 나왔어요!!,"['분위기', '사장']"
12240,츠케루,joon,2,1,5.0,2024.04.17.,5.0,시원하고 속풀이에 좋아요 맛있네요!!,['속풀이']
12241,츠케루,ㅋ,31,123,3.0,2024.04.17.,1.0,많이 남겼습니다...국물은 미적지근 두가지 맛 모두 간도 애매 여기저기 잘하는곳 마...,"['국물', '미적', '지근', '가지', '모두', '간도', '애매', '여기..."
12242,츠케루,맛따라..,3,1,5.0,2024.04.16.,5.0,두번째 방문이에요! 학교 다니면서 라멘 먹고싶을때 오는 곳입니당 맛있어여,"['두번째', '방문', '학교', '라멘']"

#### total_rating : 음식점 별 종합 점수

In [20]:
total_rating = pd.read_csv('../data2/total_rating_m.csv')

In [39]:
total_rating[2:34]

       merchant  total_rating
25       달콤한거짓말      0.367253
26          닭꼬얌      0.076441
27         대포막창      0.275000
28           더담     -0.511613
29  더피자보이즈 합정본점      0.118358
30        델리인디아      0.615766
31          델문도     -0.626250
32      도마 홍대본점      0.355094
33    돈주는남자 마포점     -0.354400

## 유의어 그룹 생성

#### 클러스터

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize

In [8]:
review_df_clean = pd.read_csv('../data2/review_df_clean.csv')

In [11]:
review_df_clean.head(3)

,merchant,user_name,user_rank,num_response,user_star,time,rating,content,filtered_words
0,1984,2018.05.10,22,58,2.5,2024.04.21.,5.0,"까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에...","['까페', '사람', '매우', '음악', '손님', '때문', '방해', '한번..."
1,1984,맛난곳만리뷰,7,7,5.0,2024.02.10.,5.0,다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여,['볼거리']
2,1984,진아,25,58,4.6,2024.02.05.,4.0,넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음,['음료']

In [12]:
# TF-IDF 벡터화
vectorizer = TfidfVectorizer(max_features=1000, min_df=5)
X_tfidf = vectorizer.fit_transform(review_df_clean['filtered_words'])

In [13]:
# 군집화
kmeans = KMeans(n_clusters=8, random_state=42)
clusters = kmeans.fit_predict(X_tfidf)

c:\Users\Jws\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [14]:
# 클러스터 결과를 리뷰 데이터프레임에 추가
review_df_clean['cluster'] = clusters

In [19]:
# 음식점별로 가장 많이 속한 클러스터의 가중치를 계산
cluster_weights = review_df_clean.groupby(['merchant', 'cluster']).size().unstack(fill_value=0)
cluster_weights = normalize(cluster_weights, norm='l1')

In [23]:
total_df = pd.read_csv('../data1/total_df.csv')

In [24]:
# 가중치 데이터프레임 생성
cluster_indices = review_df_clean.groupby(['merchant', 'cluster']).size().unstack(fill_value=0).index
cluster_columns = ['cluster_' + str(i) for i in range(kmeans.n_clusters)]
cluster_weights_df = pd.DataFrame(cluster_weights, index=cluster_indices, columns=cluster_columns)

# total_df에 가중치 정보를 병합
total_df = total_df.merge(cluster_weights_df, how='left', on='merchant')

In [26]:
# 각 클러스터 중심점에 대해 가장 높은 TF-IDF 값을 가진 단어 추출
feature_names = vectorizer.get_feature_names_out()
top_n = 10  # 각 클러스터별로 추출할 상위 단어 수

cluster_terms = {}
for i, centroid in enumerate(kmeans.cluster_centers_):
    sorted_indices = centroid.argsort()[::-1][:top_n]
    cluster_terms[f'Cluster {i}'] = [feature_names[idx] for idx in sorted_indices]

# DataFrame 생성
cluster_terms_df = pd.DataFrame(cluster_terms)
cluster_terms_df

,Cluster 0,Cluster 1,Cluster 2,Cluster 3,Cluster 4,Cluster 5,Cluster 6,Cluster 7
0,최고,직원,사장,맛집,곱창,라멘,음식,돈쭐
1,가성,가격,번창,홍대,홍대,차슈,서비스,사장
2,사장,방문,마음,피자,해물탕,국물,직원,조만간
3,서비스,피자,감동,최고,황곱,돈코츠,가격,응원
4,홍대,존맛,세상,인생,직원,소유,방문,아주
5,직원,추천,치킨,인정,대창,일본,별로,가면
6,카페,사람,가면,방문,서비스,육수,사람,무조건
7,안주,홍대,홍대,추천,직접,츠케멘,생각,방문
8,양도,웨이,눈물,가성,최고,맛집,정도,홍대
9,우동,커피,서비스,츠케멘,막창,인생,주문,번창

## 가중치 행렬

In [36]:
weights = pd.read_csv('../알고리즘/알고리즘 데이터/weights.csv')

In [37]:
weights

,merchant,western,japan,service,location,meat,alcohol,cafe,time
0,1984,0.000000,0.000000,0.063492,0.222222,0.000000,0.015873,0.571429,0.158730
1,21세기 우리바다수산,0.000000,0.090909,0.181818,0.000000,0.000000,0.022727,0.000000,0.272727
2,38도씨식당,0.307692,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000
3,943킹스크로스,0.000000,0.006211,0.031056,0.111801,0.003106,0.077640,0.549689,0.055901
4,가로수포차,0.333333,0.000000,0.250000,0.083333,0.083333,0.416667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
193,홍익닭한마리 홍대본점,0.000000,0.000000,0.062500,0.000000,0.000000,0.468750,0.000000,0.000000
194,황곱 홍대점,0.000000,0.000000,0.110063,0.006918,0.502516,0.086164,0.000629,0.054088
195,효봉포차,0.000000,0.066667,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000
196,후라토식당 상수직영점,0.018868,0.509434,0.094340,0.037736,0.150943,0.000000,0.000000,0.113208
197,훠궈나라 홍대점,0.000000,0.000000,0.192308,0.000000,0.102564,0.012821,0.012821,0.064103

## 피어슨 유사도

In [2]:
import numpy as np

In [11]:
cor = np.load('../알고리즘/알고리즘 데이터/cor.npy')
cor_df = pd.DataFrame(cor)
cor_df

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
0,1.000000,-0.125803,-0.299070,0.956458,-0.479970,-0.296617,0.818682,0.148484,-0.182291,-0.254484,...,-0.425236,-0.309975,-0.377186,-0.363102,-0.183197,-0.252141,-0.337155,-0.317241,-0.373285,-0.206291
1,-0.125803,1.000000,-0.168908,-0.268975,-0.232087,0.131605,0.353565,0.581001,-0.264158,0.532563,...,0.634350,-0.119909,0.591142,-0.097849,0.479381,-0.131453,-0.139350,-0.160451,0.233417,0.504672
2,-0.299070,-0.168908,1.000000,-0.270469,0.524736,-0.218272,-0.252150,-0.308007,-0.191442,-0.032087,...,-0.374585,0.971600,-0.224000,-0.318357,0.071545,-0.166727,-0.217715,-0.237289,-0.245574,-0.070572
3,0.956458,-0.268975,-0.270469,1.000000,-0.338674,-0.245054,0.777845,-0.028523,-0.134467,-0.236073,...,-0.450948,-0.301770,-0.367915,-0.310784,-0.208851,-0.081030,-0.289732,-0.129526,-0.365356,-0.249557
4,-0.479970,-0.232087,0.524736,-0.338674,1.000000,-0.314835,-0.447234,-0.265970,-0.167810,0.433050,...,-0.219119,0.434206,-0.076812,-0.120605,0.386230,0.703703,-0.025502,0.539360,-0.457765,0.073521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,-0.252141,-0.131453,-0.166727,-0.081030,0.703703,-0.077433,-0.213294,-0.283470,-0.186816,0.378674,...,0.065009,-0.216607,0.093227,0.051232,0.188056,1.000000,-0.016506,0.929201,-0.286688,-0.094641
194,-0.337155,-0.139350,-0.217715,-0.289732,-0.025502,-0.240040,-0.256261,0.346413,0.967123,-0.020534,...,-0.122242,-0.145843,-0.236254,0.933163,-0.014591,-0.016506,1.000000,-0.095553,0.023625,0.494568
195,-0.317241,-0.160451,-0.237289,-0.129526,0.539360,0.269967,-0.306526,-0.509028,-0.236028,0.211289,...,0.270838,-0.274892,0.264481,0.055902,-0.018844,0.929201,-0.095553,1.000000,0.037388,-0.297409
196,-0.373285,0.233417,-0.245574,-0.365356,-0.457765,0.936397,-0.283281,-0.212204,0.049418,-0.070782,...,0.797368,-0.240011,0.726580,0.143797,-0.153313,-0.286688,0.023625,0.037388,1.000000,-0.043737
197,-0.206291,0.504672,-0.070572,-0.249557,0.073521,-0.270255,0.106747,0.810564,0.397781,0.745691,...,0.210963,-0.125877,0.286400,0.254927,0.803313,-0.094641,0.494568,-0.297409,-0.043737,1.000000

In [9]:
p_val = np.load('../알고리즘/p_value.npy')
p_val_df = pd.DataFrame(p_val)
p_val_df

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,197
0,0.000000,0.766595,0.471783,0.000200,0.228718,0.475602,0.012950,0.725658,0.665701,0.543043,...,0.293585,0.454953,0.356990,0.376657,0.664113,0.546890,0.414107,0.443878,0.362391,0.624037
1,0.766595,0.000000,0.689270,0.519469,0.580210,0.756075,0.390242,0.130952,0.527263,0.174189,...,0.091152,0.777316,0.122756,0.817700,0.229372,0.756350,0.742082,0.704277,0.577980,0.202134
2,0.471783,0.689270,0.000000,0.517060,0.181807,0.603552,0.546876,0.457973,0.649721,0.939877,...,0.360587,0.000056,0.593838,0.442186,0.866309,0.693133,0.604500,0.571501,0.557726,0.868116
3,0.000200,0.519469,0.517060,0.000000,0.411872,0.558588,0.023046,0.946549,0.750897,0.573534,...,0.262107,0.467593,0.369883,0.453715,0.619642,0.848732,0.486389,0.759842,0.373479,0.551146
4,0.228718,0.580210,0.181807,0.411872,0.000000,0.447533,0.266546,0.524326,0.691214,0.283833,...,0.602113,0.282404,0.856543,0.776050,0.344615,0.051436,0.952204,0.167714,0.254058,0.862643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,0.546890,0.756350,0.693133,0.848732,0.051436,0.855392,0.612039,0.496281,0.657785,0.354941,...,0.878451,0.606386,0.826210,0.904107,0.655620,0.000000,0.969057,0.000841,0.491187,0.823604
194,0.414107,0.742082,0.604500,0.486389,0.952204,0.566915,0.540132,0.400567,0.000087,0.961510,...,0.773069,0.730398,0.573231,0.000710,0.972645,0.969057,0.000000,0.821925,0.955719,0.212802
195,0.443878,0.704277,0.571501,0.759842,0.167714,0.517869,0.460249,0.197625,0.573610,0.615467,...,0.516466,0.509955,0.526738,0.895402,0.964675,0.000841,0.821925,0.000000,0.929962,0.474369
196,0.362391,0.577980,0.557726,0.373479,0.254058,0.000613,0.496579,0.613900,0.907491,0.867727,...,0.017767,0.566964,0.041195,0.734074,0.717010,0.491187,0.955719,0.929962,0.000000,0.918097
197,0.624037,0.202134,0.868116,0.551146,0.862643,0.517404,0.801364,0.014672,0.329101,0.033674,...,0.616023,0.766462,0.491643,0.542317,0.016327,0.823604,0.212802,0.474369,0.918097,0.000000

In [12]:
weights_df = pd.read_csv('../알고리즘/알고리즘 데이터/weights.csv')

In [16]:
total_rating = pd.read_csv('../data2/total_rating_m.csv')

In [17]:
total_rating

        merchant  total_rating
0           1984     -0.275114
1    21세기 우리바다수산     -0.821600
2         38도씨식당      0.461333
3       943킹스크로스     -0.230917
4          가로수포차     -0.405000
..           ...           ...
193  홍익닭한마리 홍대본점     -0.189722
194       황곱 홍대점      0.276734
195         효봉포차      0.524000
196  후라토식당 상수직영점     -0.061864
197     훠궈나라 홍대점     -0.007333

[198 rows x 2 columns]

In [18]:
## import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time 
import os
import matplotlib.pyplot as plt
import base64
from konlpy.tag import Okt
import re
from collections import Counter
from scipy.stats import pearsonr
import warnings
warnings.filterwarnings('ignore')

In [19]:
okt = Okt()

## content에서 키워드 추출
def preprocess_text(text):
    # 알파벳이 아닌 문자 정규화 및 제거
    text = re.sub("[^가-힣a-zA-Z ]", "", text)
    # 토큰화, 명사추출
    tokens = okt.nouns(text)  # 명사 추출
    tokens = [n for n in tokens if len(n) > 1]  # 길이가 2이상인 단어만 추출
    return tokens

In [20]:
def pearson_correlation_and_p_value_matrix(df):
    # Number of merchants
    n = df.shape[0]
    # Initialize the correlation matrix and the p-value matrix
    correlation_matrix = np.zeros((n, n))
    p_value_matrix = np.zeros((n, n))
    
    for i in range(n):
        for j in range(n):
            if i != j:
                data_i = df.iloc[i, 1:].values
                data_j = df.iloc[j, 1:].values
                correlation, p_value = pearsonr(data_i, data_j)
                correlation_matrix[i, j] = correlation
                p_value_matrix[i, j] = p_value
            else:
                correlation_matrix[i, j] = 1  # 자기 자신 상관계수는 1
                p_value_matrix[i, j] = 0  # 자기 자신 p-value는 0
    
    return correlation_matrix, p_value_matrix

In [29]:


##################################################### 데이터 가져오는 코드

# 카카오 맵
driver = webdriver.Chrome()
driver.get('https://map.kakao.com/')
time.sleep(1)

## input 창에 검색어 입력
searchbox = driver.find_element(By.ID, 'search.keyword.query')
searchbox.send_keys('한신포차 당산역점'+ Keys.ENTER)
time.sleep(2)

# 현재 리스트의 상세보기 클릭
driver.find_element(By.CSS_SELECTOR, 'a[data-id="moreview"]').click()

time.sleep(1)



# driver에서 탭을 이동
driver.switch_to.window(driver.window_handles[1])

time.sleep(0.2)

    # 영업시간 더 보기 클릭
try:
    oper_more = driver.find_elements(By.CSS_SELECTOR, 'a[data-logevent = "main_info,more_timeinfo"]')
    oper_more[0].click()
    time.sleep(2)  

# 영업시간 더보기가 없는 경우
except:
    pass

# 후기 더보기 클릭
try:
    link_more = driver.find_element(By.CLASS_NAME, 'txt_more')
    while link_more.text == "후기 더보기":
        link_more = driver.find_element(By.CLASS_NAME, 'txt_more')
        # 마지막 후기 더보기까지 눌렀으면 멈추기
        if link_more.text != "후기 접기":
            link_more.click()
            time.sleep(0.3)
# 후기 더보기 없는 경우        
except:
    pass
time.sleep(1)

## 상세page bs4 파싱 분석
soup = bs(driver.page_source, 'html.parser')

driver.close()
# driver에서 탭을 이동
driver.switch_to.window(driver.window_handles[0])

driver.close()

## 정보 넣을 빈 딕셔너리
data = {
    'merchant' : [],
    'category' : [],
    'star' : [],
    'address' : [],
    'oper_time' : [],
    'starCount' : [],
    'reviewCount' : []
    }
data2 = {
    'merchant' : [],
    'user_name' : [],
    'user_rank' : [],
    'num_response' : [],
    'user_star' : [], 
    'time' : [],
    'rating' : [],
    'content' : []
    }


## 매장명
mer = soup.find('h2', {'class':'tit_location'}).get_text()
data['merchant'].append(mer)
## 분류
data['category'].append(soup.find('span',{'class':'txt_location'}).get_text().split(':')[1].strip())
## 주소
data['address'].append(soup.find('span', {'class': 'txt_address'}).get_text().replace(" ", "").replace("\n", " "))

## 별점, 리뷰 수 
# 별점 있는 경우
if len(soup.find_all('span',{'class':'color_b'})) > 1:
    data['star'].append(soup.find_all('span', {'class':'color_b'})[0].get_text().strip('점'))
    data['starCount'].append(soup.find('a', {'class': 'link_evaluation'})['data-cnt'])
    data['reviewCount'].append(soup.find_all('span', {'class':'color_b'})[1].get_text().strip('개'))
# 별점 없는 경우
else:
    data['star'].append('0')
    data['starCount'].append('0')
    data['reviewCount'].append(soup.find('span', {'class':'color_b'}).get_text().strip('개'))

## 영업시간
# 더보기 있는 경우
if oper_more:    
    data['oper_time'].append(soup.find_all('ul', {'class':'list_operation'})[1].get_text().strip())
# 더보기 없는 경우
else:
    data['oper_time'].append(soup.find('ul', {'class':'list_operation'}).get_text().strip().replace("\n", ""))


# 리뷰 목록 잡기
reveiw_listed = soup.find_all('li', {'data-ismy':'false'})

#### df2 만들기 (리뷰df)
data2['merchant'] = mer
for j in range(len(reveiw_listed)):
    ## 유저 이름
    data2['user_name'].append(soup.find_all('span',{'class':'txt_username'})[j].get_text())
    ## 유저 레벨
    data2['user_rank'].append(soup.find_all('span', {'class' : 'txt_badge'})[j].get_text().strip('레벨'))
    ## 유저 후기수
    data2['num_response'].append(
        soup.find_all('div',{'class':'unit_info'})[j].find_all('span',{'class':'txt_desc'})[0].get_text()
    )
    ## 유저 별점 평균
    data2['user_star'].append(
        soup.find_all('div',{'class':'unit_info'})[j].find_all('span',{'class':'txt_desc'})[1].get_text()
    )
    ### 리뷰 작성 시간
    data2['time'].append(
        soup.find_all('div',{'class':'unit_info'})[j].find('span',{'class':'time_write'}).get_text()
    )
    ## 리뷰 내용
    data2['content'].append(
        soup.find_all('p', {'class':'txt_comment'})[j].get_text().strip('더보기')
    )

    ## 유저가 평가한 별점 
    # 너비를 추출하여 별점 계산 (너비는 별점의 백분율을 나타냄)
    style_attribute = soup.find_all('div', {'class':'star_info'})[j].find('span',{'class':'ico_star inner_star'})['style']
    width_percent = float(style_attribute.split(':')[1].strip('%;'))
    rating_out_of_five = width_percent / 20  # 별점은 100%를 5로 나눈 값
    data2['rating'].append(rating_out_of_five)

## 데이터 프레임으로 만들기
df2 = pd.DataFrame(data2)
# 리뷰내용 없는 것 결측치로 대체
df2.replace('',np.nan, inplace= True)


df = pd.DataFrame(data)
# test중이라 일부러 데이터 저장하지 않음.

print(f"{mer}데이터 저장완료")

## 전처리
# content 결측치 행 제거
df2_clean = df2.dropna(subset=['content'], ignore_index=True)
df2_clean

# 추출한 단어(keywords) 열 생성
df2_clean['keywords'] = df2_clean['content'].apply(preprocess_text)
df2_clean


a = '아 휴 아이구 아이쿠 아이고 어 나 우리 저희 따라 의해 을 를 에 의 가 으로 로 에게 뿐이다 의거하여 근거하여 입각하여 기준으로 예하면 예를 들면 예를 들자면 저 소인 소생 저희 지말고 하지마 하지마라 다른 물론 또한 그리고 비길수 없다 해서는 안된다 뿐만 아니라 만이 아니다 만은 아니다 막론하고 관계없이 그치지 않다 그러나 그런데 하지만 든간에 논하지 않다 따지지 않다 설사 비록 더라도 아니면 만 못하다 하는 편이 낫다 불문하고 향하여 향해서 향하다 쪽으로 틈타 이용하여 타다 오르다 제외하고 이 외에 이 밖에 하여야 비로소 한다면 몰라도 외에도 이곳 여기 부터 기점으로 따라서 할 생각이다 하려고하다 이리하여 그리하여 그렇게 함으로써 하지만 일때 할때 앞에서 중에서 보는데서 으로써 로써 까지 해야한다 일것이다 반드시 할줄알다 할수있다 할수있어 임에 틀림없다 한다면 등 등등 제 겨우 단지 다만 할뿐 딩동 댕그 대해서 대하여 대하면 훨씬 얼마나 얼마만큼 얼마큼 남짓 여 얼마간 약간 다소 좀 조금 다수 몇 얼마 지만 하물며 또한 그러나 그렇지만 하지만 이외에도 대해 말하자면 뿐이다 다음에 반대로 반대로 말하자면 이와 반대로 바꾸어서 말하면 바꾸어서 한다면 만약 그렇지않으면 까악 툭 딱 삐걱거리다 보드득 비걱거리다 꽈당 응당 해야한다 에 가서 각 각각 여러분 각종 각자 제각기 하도록하다 와 과 그러므로 그래서 고로 한 까닭에 하기 때문에 거니와 이지만 대하여 관하여 관한 과연 실로 아니나다를가 생각한대로 진짜로 한적이있다 하곤하였다 하 하하 허허 아하 거바 와 오 왜 어째서 무엇때문에 어찌 하겠는가 무슨 어디 어느곳 더군다나 하물며 더욱이는 어느때 언제 야 이봐 어이 여보시오 흐흐 흥 휴 헉헉 헐떡헐떡 영차 여차 어기여차 끙끙 아야 앗 아야 콸콸 졸졸 좍좍 뚝뚝 주룩주룩 솨 우르르 그래도 또 그리고 바꾸어말하면 바꾸어말하자면 혹은 혹시 답다 및 그에 따르는 때가 되어 즉 지든지 설령 가령 하더라도 할지라도 일지라도 지든지 몇 거의 하마터면 인젠 이젠 된바에야 된이상 만큼 어찌됏든 그위에 게다가 점에서 보아 비추어 보아 고려하면 하게될것이다 일것이다 비교적 좀 보다더 비하면 시키다 하게하다 할만하다 의해서 연이서 이어서 잇따라 뒤따라 뒤이어 결국 의지하여 기대여 통하여 자마자 더욱더 불구하고 얼마든지 마음대로 주저하지 않고 곧 즉시 바로 당장 하자마자 밖에 안된다 하면된다 그래 그렇지 요컨대 다시 말하자면 바꿔 말하면 즉 구체적으로 말하자면 시작하여 시초에 이상 허 헉 허걱 바와같이 해도좋다 해도된다 게다가 더구나 하물며 와르르 팍 퍽 펄렁 동안 이래 하고있었다 이었다 에서 로부터 까지 예하면 했어요 해요 함께 같이 더불어 마저 마저도 양자 모두 습니다 가까스로 하려고하다 즈음하여 다른 다른 방면으로 해봐요 습니까 했어요 말할것도 없고 무릎쓰고 개의치않고 하는것만 못하다 하는것이 낫다 매 매번 들 모 어느것 어느 로써 갖고말하자면 어디 어느쪽 어느것 어느해 어느 년도 라 해도 언젠가 어떤것 어느것 저기 저쪽 저것 그때 그럼 그러면 요만한걸 그래 그때 저것만큼 그저 이르기까지 할 줄 안다 할 힘이 있다 너 너희 당신 어찌 설마 차라리 할지언정 할지라도 할망정 할지언정 구토하다 게우다 토하다 메쓰겁다 옆사람 퉤 쳇 의거하여 근거하여 의해 따라 힘입어 그 다음 버금 두번째로 기타 첫번째로 나머지는 그중에서 견지에서 형식으로 쓰여 입장에서 위해서 단지 의해되다 하도록시키다 뿐만아니라 반대로 전후 전자 앞의것 잠시 잠깐 하면서 그렇지만 다음에 그러한즉 그런즉 남들 아무거나 어찌하든지 같다 비슷하다 예컨대 이럴정도로 어떻게 만약 만일 위에서 서술한바와같이 인 듯하다 하지 않는다면 만약에 무엇 무슨 어느 어떤 아래윗 조차 한데 그럼에도 불구하고 여전히 심지어 까지도 조차도 하지 않도록 않기 위하여 때 시각 무렵 시간 동안 어때 어떠한 하여금 네 예 우선 누구 누가 알겠는가 아무도 줄은모른다 줄은 몰랏다 하는 김에 겸사겸사 하는바 그런 까닭에 한 이유는 그러니 그러니까 때문에 그 너희 그들 너희들 타인 것 것들 너 위하여 공동으로 동시에 하기 위하여 어찌하여 무엇때문에 붕붕 윙윙 나 우리 엉엉 휘익 윙윙 오호 아하 어쨋든 만 못하다 하기보다는 차라리 하는 편이 낫다 흐흐 놀라다 상대적으로 말하자면 마치 아니라면 쉿 그렇지 않으면 그렇지 않다면 안 그러면 아니었다면 하든지 아니면 이라면 좋아 알았어 하는것도 그만이다 어쩔수 없다 하나 일 일반적으로 일단 한켠으로는 오자마자 이렇게되면 이와같다면 전부 한마디 한항목 근거로 하기에 아울러 하지 않도록 않기 위해서 이르기까지 이 되다 로 인하여 까닭으로 이유만으로 이로 인하여 그래서 이 때문에 그러므로 그런 까닭에 알 수 있다 결론을 낼 수 있다 으로 인하여 있다 어떤것 관계가 있다 관련이 있다 연관되다 어떤것들 에 대해 이리하여 그리하여 여부 하기보다는 하느니 하면 할수록 운운 이러이러하다 하구나 하도다 다시말하면 다음으로 에 있다 에 달려 있다 우리 우리들 오히려 하기는한데 어떻게 어떻해 어찌됏어 어때 어째서 본대로 자 이 이쪽 여기 이것 이번 이렇게말하자면 이런 이러한 이와 같은 요만큼 요만한 것 얼마 안 되는 것 이만큼 이 정도의 이렇게 많은 것 이와 같다 이때 이렇구나 것과 같이 끼익 삐걱 따위 와 같은 사람들 부류의 사람들 왜냐하면 중의하나 오직 오로지 에 한하다 하기만 하면 도착하다 까지 미치다 도달하다 정도에 이르다 할 지경이다 결과에 이르다 관해서는 여러분 하고 있다 한 후 혼자 자기 자기집 자신 우에 종합한것과같이 총적으로 보면 총적으로 말하면 총적으로 대로 하다 으로서 참 그만이다 할 따름이다 쿵 탕탕 쾅쾅 둥둥 봐 봐라 아이야 아니 와아 응 아이 참나 년 월 일 령 영 일 이 삼 사 오 육 륙 칠 팔 구 이천육 이천칠 이천팔 이천구 하나 둘 셋 넷 다섯 여섯 일곱 여덟 아홉 령 영 이 있 하 것 들 그 되 수 이 보 않 없 나 사람 주 아니 등 같 우리 때 년 가 한 지 대하 오 말 일 그렇 위하 때문 그것 두 말하 알 그러나 받 못하 일 그런 또 문제 더 사회 많 그리고 좋 크 따르 중 나오 가지 씨 시키 만들 지금 생각하 그러 속 하나 집 살 모르 적 월 데 자신 안 어떤 내 내 경우 명 생각 시간 그녀 다시 이런 앞 보이 번 나 다른 어떻 여자 개 전 들 사실 이렇 점 싶 말 정도 좀 원 잘 통하 놓'
a = a.replace(" ", ",")

## 불용어 제거



# 불용어 정의
stopwords = [a,'맛있어요', '맛있고', '좋아요', '맛', '맛은', '맛이', '좋고', '안', '엄청', '맛있게', '맛도', '다른', '먹고', 
    '분위기', '맛있음', '맛있었어요', '같아요', '여기', '그리고','여기', '맛', '너무', '진짜', '다', '좀', '정말', '잘', '더', '그냥', '또', '것', '수', '많이', '꼭', '이', '거', '것은', '에서', '에는', 
    '있습니다', '있어', '있는', '입니다', '하는', '하기', '하고', '했어요', '했습니다', '한', '할', '합니다', '해', '해요', 
    '으로', '로는', '와', '과', '도', '고', '에', '에게', '와서', '와의', '으로부터', '이다', '있다', '되다', '같다']

# 불용어 제거
df2_clean['filtered_words'] = df2_clean['keywords'].apply(lambda words: [word for word in words if word not in stopwords])

# 빈도수 계산
df2_filtered_words = [word for sublist in df2_clean['filtered_words'] for word in sublist]
df2_filtered_word_counts = Counter(df2_filtered_words)

## 가중치 계산

# 유의어 그룹 정의
synonym_groups = {
    "western": ["양식","피자","파스타","버거","샐러드","스테이크","화덕","시카고피자","레스토랑","피클"],
    "japan": ["일식","라멘","우동","튀김","초밥","츠케멘","소바","차슈","카츠","회"],
    "service": ["서비스","친절","퀄리티","위생","설명","상태","관리","청결","정성","합리"],
    "location": ["스타일","컨셉","인스타","특색","감성","뷰","테라스","테마","야외","예술"],
    "meat": ["고기","곱창","돼지","닭갈비","등심","갈비","대창","삼겹살","육즙","양고기"],
    "alcohol": ["술","국물","안주","맥주","술집","막걸리","소주","한잔","생맥주", "칵테일"],
    "cafe": ["카페","딸기","케이크","음료","빵","디저트","라떼","빙수","케익","생크림"],
    "time": ["시간","근처","거리","동네","예약","대기","웨이팅","주변","멀리","가까"]
}

# 각 리뷰의 단어 목록에서 그룹 단어의 빈도를 계산하는 함수 (횟수에 따라 0,1,2 식으로 출력)
def calculate_group_weights(words, group_words):
    return sum(word in group_words for word in words)

# 각 그룹에 위 함수 적용
for group_name, group_words in synonym_groups.items():
    df2_clean[group_name] = df2_clean['filtered_words'].apply(lambda words: calculate_group_weights(words, group_words))

# 음식점별로 빈도를 다 더한다.
grouped_weights = df2_clean.groupby('merchant')[list(synonym_groups.keys())].sum()

# 가중치 계산
normalized_weights = grouped_weights.div(df2_clean.groupby('merchant').size(), axis=0)

weights_df2 = normalized_weights.reset_index()

weights_df = pd.read_csv('../알고리즘/알고리즘 데이터/weights.csv')

weights_df = pd.concat([weights_df, weights_df2], ignore_index=True)



## 피어슨 계산
cor_matrix, p_value_matrix= pearson_correlation_and_p_value_matrix(weights_df)


#########################################################################################################        

total_rating = pd.read_csv('../data2/total_rating.csv')

restaurant_names = weights_df['merchant'].values
stars = total_rating['total_rating'].values  # 별점 데이터

# 주어진 음식점의 인덱스 찾기
idx = np.where(restaurant_names == '한신포차 당산역점')[0][0]

# 유사도 점수와 인덱스 가져오기
similarity_scores = cor_matrix[idx]

# 자기 자신을 결과에서 제외
similarity_scores = similarity_scores[:-1]

# 종합 점수 계산: 유사도 점수와 별점을 가중치로 조정
normalized_stars = (stars / stars.max())  # 별점 정규화
total_scores = 0.7 * similarity_scores + 0.3 * normalized_stars

# 종합 점수에 따라 인덱스 정렬 및 상위 N개 선택
sorted_indices = np.argsort(total_scores)[::-1][:top_n]

# 결과 출력
print("Top {top_n} 음식점'한신포차 당산역점'기반 음식점 추천:")
for i in sorted_indices:
    print(f"{restaurant_names[i]} \n 최종 점수: {total_scores[i]}, 유사도: {similarity_scores[i]}, stars: {stars[i]}")

한신포차 당산역점데이터 저장완료

NameError: name 'top_n' is not defined

In [25]:
weights_df

,merchant,western,japan,service,location,meat,alcohol,cafe,time,alchol
0,1984,0.000000,0.000000,0.063492,0.222222,0.000000,0.015873,0.571429,0.158730,NaN
1,21세기 우리바다수산,0.000000,0.090909,0.181818,0.000000,0.000000,0.022727,0.000000,0.272727,NaN
2,38도씨식당,0.307692,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3,943킹스크로스,0.000000,0.006211,0.031056,0.111801,0.003106,0.077640,0.549689,0.055901,NaN
4,가로수포차,0.333333,0.000000,0.250000,0.083333,0.083333,0.416667,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...
194,황곱 홍대점,0.000000,0.000000,0.110063,0.006918,0.502516,0.086164,0.000629,0.054088,NaN
195,효봉포차,0.000000,0.066667,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,NaN
196,후라토식당 상수직영점,0.018868,0.509434,0.094340,0.037736,0.150943,0.000000,0.000000,0.113208,NaN
197,훠궈나라 홍대점,0.000000,0.000000,0.192308,0.000000,0.102564,0.012821,0.012821,0.064103,NaN
198,한신포차 당산역점,0.000000,0.000000,0.090909,0.000000,0.000000,NaN,0.000000,0.045455,0.045455

In [28]:
df2_clean

,merchant,user_name,user_rank,num_response,user_star,time,rating,content,keywords,filtered_words,western,japan,service,location,meat,alchol,cafe
0,한신포차 당산역점,02 평가단,77,"1,023",4.5,0,4.0,맛있는데 간이 좀 쎘어요,[간이],[간이],0,0,0,0,0,0,0
1,한신포차 당산역점,정히를따르라,63,964,3.5,0,3.0,소소하다화장실크고매장도크고만족,"[화장, 실크, 매장, 도크, 만족]","[화장, 실크, 매장, 도크, 만족]",0,0,0,0,0,0,0
2,한신포차 당산역점,choi2meal,34,177,4.1,0,1.0,친절하지도 않고 안주도 맛없어요.,[안주],[안주],0,0,0,0,0,1,0
3,한신포차 당산역점,Simon Park,24,84,2.1,0,1.0,솔직히 집에서는 먹을수 없는 정크푸드아다. 음식은 맛과 건강인데 건강은 전혀 고려하...,"[정크푸드, 음식, 건강, 건강, 전혀, 고려, 자극, 조미료, 음식, 누구, 굳이...","[정크푸드, 음식, 건강, 건강, 전혀, 고려, 자극, 조미료, 음식, 누구, 굳이...",0,0,1,0,0,0,0
4,한신포차 당산역점,냥이,30,89,4.2,0,5.0,한신이 점점 사라져서 슬퍼요.. 당산까지 와야되네,"[한신, 점점, 당산]","[한신, 점점, 당산]",0,0,0,0,0,0,0
5,한신포차 당산역점,@@,11,16,3.9,0,1.0,맛이 변했음... 이주전에갔는데...안맵고 색깔도 붉은색이아닌 갈색으로 맛도 갈색...,"[주전, 색깔, 은색, 갈색, 갈색, 이남]","[주전, 색깔, 은색, 갈색, 갈색, 이남]",0,0,0,0,0,0,0
6,한신포차 당산역점,김도연,5,3,5.0,0,5.0,믿고먹는 맛집,[맛집],[맛집],0,0,0,0,0,0,0
7,한신포차 당산역점,빌리지K,12,17,2.5,0,1.0,맛이 너무 변했어요. 완전 비추입니다.,[완전],[완전],0,0,0,0,0,0,0
8,한신포차 당산역점,허 CD,24,58,1.7,0,5.0,영동시장 한신만 가봤는데 여기도 분위기 좋네요좋아하는 육전도 맛나고 계란말이가 대박~~,"[영동, 시장, 한신, 여기, 분위기, 육전, 계란말이, 대박]","[영동, 시장, 한신, 육전, 계란말이, 대박]",0,0,0,0,0,0,0
9,한신포차 당산역점,김우진,4,2,5.0,0,5.0,"한신포차 당산역점이 최고예요ㅠㅠㅠㅠ 직원분들 친절하시고, 센스도 엄청나세요ㅜㅜ 한신...","[한신포차, 당산, 역점, 최고, 직원, 센스, 한신포차, 반드시, 당산, 역점]","[한신포차, 당산, 역점, 최고, 직원, 센스, 한신포차, 반드시, 당산, 역점]",0,0,0,0,0,0,0
10,한신포차 당산역점,김진이,2,1,5.0,0,5.0,닭발 최고 맛집 입니다~~ㅎㅎ치즈 듬뿍~~~^^,"[닭발, 최고, 맛집, 치즈, 듬뿍]","[닭발, 최고, 맛집, 치즈, 듬뿍]",0,0,0,0,0,0,0
11,한신포차 당산역점,이은선,2,1,5.0,0,5.0,맛있어요~ 매운데 계속 들어가는 맛ㅠㅠㅋㅋ,[계속],[계속],0,0,0,0,0,0,0
12,한신포차 당산역점,김어진,2,1,5.0,0,5.0,닭발은 역시 한신포차 당산역점!! 사장님 새로 바뀌신거같은데 너무 맵게 맛있어요~ 짱!!,"[닭발, 역시, 한신포차, 당산, 역점, 사장]","[닭발, 역시, 한신포차, 당산, 역점, 사장]",0,0,0,0,0,0,0
13,한신포차 당산역점,쪼꼬,2,2,5.0,0,5.0,맛있고 친절해요,[],[],0,0,0,0,0,0,0
14,한신포차 당산역점,박현,3,1,5.0,1,5.0,주먹밥짱!!당산 근처 술땡길땐 무조건! 한신포차!!,"[주먹밥, 당산, 근처, 무조건, 한신포차]","[주먹밥, 당산, 근처, 무조건, 한신포차]",0,0,0,0,0,0,0
15,한신포차 당산역점,윤지남,1,1,5.0,0,5.0,"맛 최고, 친절하기까지",[최고],[최고],0,0,0,0,0,0,0
16,한신포차 당산역점,정우찬,3,2,5.0,0,5.0,닭발은 역시~~한신이네요~~~^^,"[닭발, 역시, 한신]","[닭발, 역시, 한신]",0,0,0,0,0,0,0
17,한신포차 당산역점,사야,4,4,5.0,0,5.0,몇달전에 주인장 바뀌면서 맛이 완전 좋아졌어요. 물어 봤더니 좋은 재료 사용하고 ...,"[주인, 완전, 물어, 재료, 사용, 미리]","[주인, 완전, 물어, 재료, 사용, 미리]",0,0,0,0,0,0,0
18,한신포차 당산역점,나그네,2,5,3.4,0,1.0,통오징어 .. 너무 짜..자극적이어서 불량식품 먹는 느낌..그리고 직원들 불편함.백...,"[통오징어, 극적, 불량, 식품, 느낌, 직원, 백종원, 골목, 식당, 시청자, 식당]","[통오징어, 극적, 불량, 식품, 느낌, 직원, 백종원, 골목, 식당, 시청자, 식당]",0,0,0,0,0,0,0
19,한신포차 당산역점,영등포구민,3,5,3.4,0,1.0,개업초에 비해 맛이 많이 바뀜 토마토 치즈 계란 말이 ㄹㅇ 존맛탱이였었는데...안에...,"[개업, 토마토, 치즈, 계란, 존맛, 토마토, 양도, 계란말이, 크기, 닭발, 흐...","[개업, 토마토, 치즈, 계란, 존맛, 토마토, 양도, 계란말이, 크기, 닭발, 흐...",0,0,0,0,0,0,0
20,한신포차 당산역점,이준석,12,18,3.7,0,1.0,"여기 지점만 맛이 별로 라는데, 회식으로 2차로 갈때마다(총 5번) 만족한 경우가 ...","[여기, 지점, 별로, 회식, 차로, 경우, 편이, 런가]","[지점, 별로, 회식, 차로, 경우, 편이, 런가]",0,0,0,0,0,0,0
21,한신포차 당산역점,뽠타스틱 포 ~ 영민 정아 인서 연서,2,2,5.0,0,5.0,직원분들 너무 열심히 하고 친절 한 모습이 좋아요닭발도 짱입니다!!,"[직원, 친절, 모습, 닭발]","[직원, 친절, 모습, 닭발]",0,0,1,0,0,0,0