In [4]:
test = []
test.append([1,2,3])

In [5]:
test

[[1, 2, 3]]

In [6]:
test_str = '\n \t text \t \n'               # 크롤링해오면 다음과 같은 형태 많이 나온다.  \n : 줄바꿈, \t : tab
print(test_str)

 	 text

In [7]:
test_str.strip()

'text'

In [27]:
a = "Hello World "

In [28]:
a= a.rstrip()
print(a)

Hello World

In [29]:
a = a.replace(" ", "")
print(a)
a = a.lower()

HelloWorld

In [30]:
print(a)

helloworld

In [31]:
a = a.upper()
print(a)

HELLOWORLD

In [32]:
test_str2 = "Hello \n World"

In [33]:
test_str2.strip()

'Hello \n World'

In [37]:
test_str2 = test_str2.replace('\n' , '' )

In [39]:
test_str2.split()

['Hello', 'World']

In [40]:
test_str2 = test_str2.split()

In [41]:
print(test_str2)

['Hello', 'World']

In [42]:
test_str2.insert(1, '^^')

In [43]:
print(test_str2)

['Hello', '^^', 'World']

In [44]:
b= '20/30/40'
b.split('/')

['20', '30', '40']

In [46]:
## 2개의 주사위가 존재한다.
# 2개의 주사위를 굴렸을 때, 주사위의 합이 5의 배수인 경우의 수를 리스트에 대입

res = []
for i in range(1,7):
    for j in range(1,7):
        if (i + j) % 5 == 0:
            res.append((i , j))
print(res)

[(1, 4), (2, 3), (3, 2), (4, 1), (4, 6), (5, 5), (6, 4)]

In [47]:
sample1 = [
    {
        'name' : 'test',
        'age' : 20 
    },
    {
        'name' : 'test2',
        'age' : 30
    },
    {
        'name' : 'test3',
        'age' : 25
    }
]

In [48]:
len(sample1)

3

In [51]:
test_ls = []
for i in range(len(sample1)):
    test_ls.append(sample1[i]['age'])    
print(test_ls)

[20, 30, 25]

In [ ]:
res3 = []
for i in sample1:
    # print(i)
    # print(i['age'])
    # i가 의미하는 것은? : sample1[0], sample1[1], sample1[2]
    res3.append(i['age'])  # sample1의 딕셔너리 데이터 중 age의 값들만 res3 추가
print(res3)

In [57]:
res3 = []
for i in sample1:
    res3.append((i['age']))
print(res3)

[20, 30, 25]

In [60]:
## 딕셔너리 안의 리스트 형태를 리스트 안의 딕셔너리 형태로 변환
sample2 = {
    'name' : ['test', 'test2', 'tset3'],
    'age' : [20, 30, 25]
}

In [62]:
sample3 = []
for i in sample2:
    for j in range(len(sample2[i])):
        print(f"i = {i}, j = {j}, sample2 = {sample2[i][j]}")
        if len(sample2[i]) > len(sample3):
            sample3.append({})
        print(sample3)
        sample3[j][i] = sample2[i][j]
        print(sample3)
    print(sample3)

i = name, j = 0, sample2 = test
[{}]
[{'name': 'test'}]
i = name, j = 1, sample2 = test2
[{'name': 'test'}, {}]
[{'name': 'test'}, {'name': 'test2'}]
i = name, j = 2, sample2 = tset3
[{'name': 'test'}, {'name': 'test2'}, {}]
[{'name': 'test'}, {'name': 'test2'}, {'name': 'tset3'}]
[{'name': 'test'}, {'name': 'test2'}, {'name': 'tset3'}]
i = age, j = 0, sample2 = 20
[{'name': 'test'}, {'name': 'test2'}, {'name': 'tset3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2'}, {'name': 'tset3'}]
i = age, j = 1, sample2 = 30
[{'name': 'test', 'age': 20}, {'name': 'test2'}, {'name': 'tset3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'tset3'}]
i = age, j = 2, sample2 = 25
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'tset3'}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'tset3', 'age': 25}]
[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'tset3', 'age': 25}]

In [1]:
def func_6(*args):
    print(args)
    print(type(args))

In [10]:
list = [1,2,3]
func_6(list)

([1, 2, 3],)
<class 'tuple'>

In [6]:
def func_7(*args):
    res = 0 
    for i in args:
        res += i 
    print(res)

In [9]:

func_7(1,2,3)

6

In [16]:
def mean(*ags):
    sum = 0
    num = 0
    for i in ags:
        sum += i 
        num += 1
    res = sum / num 
    return res

In [17]:
mean(1,3,5)

3.0

In [26]:
def c_min(ags):
    res = ags[0]
    for i in range(1,len(ags)):
        if res > ags[i]: 
            res = ags[i]
    return res

In [27]:
c_min([2,5,6])

2

In [1]:

def c_min(ags):
    res = ags[0]
    for i in range(1, len(ags),1):
        if res > ags[i]:
            res = ags[i]
    return res

In [2]:
def c_sort(*ags):
    result = []
    ags = list(ags)
    while True:
        if len(ags) == 0: 
            break
        min_ags = c_min(ags)
        result.append(min_ags)
        ags.remove(min_ags)
    return result

In [3]:
c_sort(3,9,8,2,5)

[2, 3, 5, 8, 9]

In [6]:
def c_sort(*ags, reverse = True):
    result = []
    ags = list(ags)
    while ags:
        if reverse:
            ags_ = max(ags)
        else:
            ags_ = c_min(ags)
        
        result.append(ags_)

        ags.remove(ags_)
    
    return result

In [7]:
c_sort(3,9,8,2,5 , reverse = False)

[2, 3, 5, 8, 9]

In [8]:
c_sort(3,9,8,2,5 , reverse = True)

[9, 8, 5, 3, 2]

In [ ]:
flag = df['item_name'] == '상품A'
test_df = df.loc[flag]
test_df.sort_values(['item_price'], inplace = True)

In [9]:
#### Class 0320 수업내용 복습

In [1]:
class Test_Class:
    def __init__(self,input_a, input_b):
        self.a = input_a
        self.b = input_b

In [2]:
a_class = Test_Class(10, 'test')

In [6]:
class Calculate:
    def __init__(self, input_x, input_y):
        self.x = input_x
        self.y = input_y
    def add(self):
        result = self.x + self.y
        return result
    def subtract(self):
        result = self.x - self.y
        return result

In [7]:
c_class = Calculate(10,5)

In [12]:
c_class.subtract()

5

In [15]:
class Calculate2(Calculate):
    def __init__(self, input_x, input_y):
        super().__init__(input_x, input_y)
        
    def mul(self):
        result = self.x * self.y
        return result

In [16]:
c_class = Calculate2(10, 5)

In [19]:
c_class.mul()

50

In [20]:
### mysql과 python의 연동
# !pip install pymysql
import pymysql

In [28]:
_db = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = '1234',
    db = 'ubion'
)

In [29]:
cursor = _db.cursor()
cursor2 = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
query = """"
    select
    *
    from
    tran_1
"""
cursor.execute(query)
cursor2.execute(query)

In [31]:
#### pandas 0321 복습
import pandas as pd

In [32]:
pd_series = pd.Series(
    [5000,6000,6500,6500]
)

In [38]:
pd_series2 = pd.Series(
    [5000,6000,6500,6500],
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)
pd_series2

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [44]:
pd_series2.index

Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [45]:
pd_series2.values

array([5000, 6000, 6500, 6500], dtype=int64)

In [48]:
pd_df = pd.DataFrame(
    [
    [1,2,6],
    [3,4,1],
    [6,8,3]
    ]
)
pd_df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [51]:
pd_df.index = ['a', 'b', 'c']
pd_df.columns = ['A', 'B', 'C']

In [59]:
pd_df.columns[1]

'B'

In [63]:
pd_df.rename(columns = {'A' : 'F'},
             inplace = True)
pd_df

   F  B  C
a  1  2  6
b  3  4  1
c  6  8  3

In [65]:
df2 = pd_df.copy()
df2

   F  B  C
a  1  2  6
b  3  4  1
c  6  8  3

In [133]:
corona = pd.read_csv('../csv/corona.csv')

In [68]:
df = pd.read_csv('../csv/주민등록.csv',
                 encoding = 'CP949')

In [69]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [70]:
corona.columns

Index(['Unnamed: 0', 'createDt', 'deathCnt', 'decideCnt', 'seq', 'stateDt',
       'stateTime', 'updateDt', 'accExamCnt', 'accDefRate'],
      dtype='object')

In [71]:
corona.columns[0]

'Unnamed: 0'

In [134]:
corona.drop("Unnamed: 0", axis = 1 ,
            inplace = True)
corona.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [135]:
corona.rename(
    columns = {
        #...
    }
)

# 이런 형태로 col명을 바꿔줄 수도 있겠지만 조금이라도 많아지면 너무 귀찮잖아
corona.columns = ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율']
# 이런 식으로 아예 dataframe 안의 columns라는 변수에 데이터 넣어버리면 편하지. 
# 그래도 한두개 특정 값 바꾼다면 rename 쓸 수 있어야지.
corona.head(2)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [136]:
corona.sort_values(
    ['등록일시'],
    ascending = True,
    inplace = True
)
corona.head()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [137]:
corona.reset_index(drop = True,
                   inplace = True)
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744

In [90]:
corona.loc[0, '총사망자']
corona.iloc[0, 1]

54

In [92]:
daily_data = corona.loc[1,'총사망자'] - corona.loc[0, '총사망자']
daily_data

6

In [138]:
daily_death = [0]
for i in range(len(corona.index)-1): 
    daily_death.append(corona.loc[i+1 , '총사망자'] - corona.loc[i , '총사망자'])

print(daily_death)

[0, 6, 6, 1, 5, 3, 0, 6, 3, 7, 3, 8, 2, 7, 9, 6, 5, 8, 5, 8, 6, 4, 3, 4, 5, 3, 6, 3, 6, 8, 4, 4, 3, 3, 3, 5, 3, 4, 1, 2, 2, 2, 1, 1, 2, 0, 0, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2, 1, 1, 0, 0, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 1, 0, 2, 0, 1, 2, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 2, 1, 0, 1, 0, 0, 0, 2, 2, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 1, 2, 1, 3, 5, 2, 1, 0, 2, 3, 2, 2, 1, 2, 5, 3, 2, 4, 5, 3, 5, 4, 0, 5, 5, 1, 5, 2, 3, 0, 5, 2, 4, 2, 5, 1, 6, 2, 1, 4, 1, 1, 0, 3, 2, 1, 2, 2, 1, 1, 4, 1, 2, 2, 1, 0, 3, 3, 3, 2, 2, 0, 0, 3, 1, 1, 1, 1, 2, 2, 4, 2, 1, 1, 1, 1, 2, 5, 2, 0, 1, 4, 1, 1, 0, 2, 2, 3, 2, 2, 4, 1, 3, 2, 1, 6, 1, 3, 0, 0, 3, 7, 4, 5, 4, 3, 4, 8, 8, 6, 2, 7, 13, 12, 22, 11, 14, 15, 24, 24, 17, 17, 17, 20, 15, 11, 40, 20, 21, 17, 25, 20, 19, 26, 20, 19, 35, 19, 25, 15, 25, 20, 10, 22, 19, 13, 15, 19, 17, 16, 12, 9, 12, 11, 11, 7, 8, 13, 15, 6, 5, 10, 6, 7, 11, 5, 7, 3, 8, 4, 10, 11, 7, 8, 5, 7, 4, 6, 6, 3, 4, 5, 11, 3, 5, 4, 10, 8, 2, 1, 6, 7, 8, 5, 2, 8, 3, 3, 4, 10, 5, 2, 6, 3, 8, 2, 2, 3, 3, 1, 7, 3, 2, 7, 5, 1, 4, 3, 2, 4, 2, 3, 4, 4, 4, 4, 2, 6, 1, 3, 2, 5, 7, 6, 2, 4, 3, 4, 1, 4, 2, 3, 1, 1, 4, 3, 1, 4, 3, 3, 2, 1, 6, 7, 4, 9, 5, 9, 1, 4, 5, 7, 2, 3, 4, 3, 1, 8, 4, 6, 4, 5, 3, 4, 2, 3, 3, 5, 8, -2, 6, 2, 3, 1, 2, 2, 1, 1, 2, 2, 2, 1, 3, 3, 4, 1, 1, 2, 1, 5, 2, 2, 1, 1, 1, 3, 1, 2, 2, 1, 3, 3, 1, 1, 2, 4, 1, 1, 2, 2, 5, 1, 2, 2, 2, 1, 4, 2, 1, 1, 1, 3, 3, 2, 5, 4, 2, 4, 2, 4, 6, 3, 1, 5, 2, 3, 4, 3, 5, 4, 9, 1, 3, 6, 4, 8, 11, 6, 5, 13, 6, 5, 13, 7, 6, 9, 20, 8, 11, 3, 5, 1, 7, 11, 5, 7, 6, 6, 3, 4, 9, 5, 10, 1, 1, 7, 13, 6, 3, 5, 9, 6, 4, 6, 8, 7, 7, 9, 6, 8, 10, 7, 16, 7, 3, 6, 11, 12, 8, 10, 6, 15, 8, 11, 11, 13, 8, 18, 16, 8, 21, 9, 11, 16, 20, 21, 7, 15, 9, 11, 9, 13, 19, 9, 16, 18, 24, 20, 20, 11, 13, 18, 14, 21, 18, 32, 20, 12, 22, 21, 29, 28, 29, 30, 24, 30, 34, 39, 39, 52, 56, 32, 44, 34, 47, 34, 70, 43, 41, 64, 63, 57, 53, 80, 42, 40, 94, 70, 62, 73, 53, 78, 54, 52, 78, 109, 56, 105, 69, 55, 46, 36, 73, 108, 62, 69, 36, 51, 57, 49, 45, 54, 51, 34, 43, 52, 44, 49, 22, 29, 23, 45, 74, 28, 21, 28, 11, 25, 23, 32, 34, 24, 34, 20, 23, 17, 15, 25, 24, 22, 15, 13, 36, 21, 20, 49, 33, 36, 21, 61, 39, 36, 45, 71, 51, 45, 58, 99, 82, 94, 112, 49, 114, 112, 96, 128, 186, 216, 161, 139, 186, 158, 206, 229, 269, 251, 200, 293, 164, 429, 301, 319, 327, 329, 384, 291, 469, 393, 323, 282, 287, 237, 432, 375, 360, 339, 306, 218, 209, 371, 348, 373, 338, 329, 258, 171, 184, 318, 264, 273, 203, 132, 130, 166, 147, 206, 151, 109, 110, 82, 141, 122, 136, 70, 81, 83, 49, 72, 79, 48, 83, 71, 40, 62, 29, 63, 52, 55, 48, 35, 27, 31, 40, 43, 26, 54, 22, 19, 23, 34, 40, 36, 19, 9, 9, 21, 15, 17, 9, 20, 21, 20, 6]

In [141]:
corona['일일사망자'] = daily_death

In [142]:
corona.head()

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5

In [140]:
corona['총사망자'].shift(1)

0          NaN
1         54.0
2         60.0
3         66.0
4         67.0
        ...
815    24229.0
816    24238.0
817    24258.0
818    24279.0
819    24299.0
Name: 총사망자, Length: 820, dtype: float64

In [143]:
type(corona['총사망자'].values)          # array 행렬의 형태

numpy.ndarray

In [144]:
corona['일일사망자2'] = corona['총사망자'] - corona['총사망자'].shift(1)
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0

In [145]:
corona.loc[0,'일일사망자2'] = 0
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0

In [148]:
corona['일일사망자3'] = corona['총사망자'].diff(1)
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0

In [149]:
corona.loc[0,'일일사망자3'] = 0
corona.head(3)

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0