In [4]:
a = 10
b = 'test'
print(a)
print(type(a))
print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [5]:
a = b = c = 10
d, e, f = 10, 3.14, "test"
print(a,b,c)
print(d,e,f)

10 10 10
10 3.14 test

In [8]:
a = 10
print(type(a))
b = 100*100
print(b)

<class 'int'>
10000

In [10]:
b = (100>10)
print(b)
print(type(b))

True
<class 'bool'>

In [11]:
a = 10 
a = 5 + 3
a = 5 - 3 
a = 5 * 3
a = 5 / 3
a = 5 // 3
a = 5 % 3 
a = 5 ** 3

In [13]:
a = 'hello'
b = 'world'
print(a+b)
a = 'hello'
b = 'oo'
print(a-b)

helloworld

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
a = 25
print((a>30) and (a<50))
print((a>30)  or (a<26))

False
True

In [17]:
a = 10 
b = 3

In [21]:
a += b 
print(a)

22

In [29]:
ovr = 120
if ovr >= 110:
    print('red')
elif ovr >= 100:
    print('orange')
elif ovr >= 90:
    print('green')
elif ovr >= 80:
    print('sky blue')
else:
    print('gray')
print('프로그램 종료')

red
프로그램 종료

In [28]:
# 조건식이 여러개인 경우(elif)
# int(): 데이터를 숫자로 변환
# input(): 입력한 데이터를 받는다. 받은 데이터의 타입은 기본이 str 
score = int(input("점수를 입력하시오:"))
print(score)

90

In [32]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
_list = [100, 'red', True]
print(len(_list))

3

In [37]:
for i in range(0,len(_list),1):
    print(_list[i])

for i in _list:
    print(i)

100
red
True
100
red
True

In [38]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [40]:
res = 0
i = 1
while i <= 10:
    res += i
    i += 1
print(res)

55

In [41]:
for i in range(2,10,1):
    for j in range(1,10,1):
        print(f"{i} x {j} = {i*j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 반복문 예제 문제 (다중 for문)
- 페르마의 마지막 정리가 참인지 확인 

> a <sup>n</sup> + b<sup>n</sup> = c<sup>n</sup> 해당하는 식에서 n이 2보다 큰 자연수라면, a, b, c에 들어갈 수 있는 자연수는 존재하지 않는다.

- n = 3이라 가정하고 a, b, c에 1부터 10까지 값들을 모두 넣어서 해당하는 조건식이 참인 경우가 존재하는 지 확인

In [1]:
list_a = [20, 10, 40, 30]
list_b = ['abc', 'ade', 'aaa']