In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame(
				[
                [2,2,3],
                [4,5,6],
                [7,8,9]
                ],
                index = ['a', 'b', 'c'],
                columns = ['A', 'B', 'C']
                )

In [7]:
df

   A  B  C
a  2  2  3
b  4  5  6
c  7  8  9

In [8]:
(df['B'] > 5).any()

True

In [13]:
df['A'].value_counts()

A
2    1
4    1
7    1
Name: count, dtype: int64

In [10]:
data = {
    'name' : ['test', 'test2', 'test3' ],
    'loc' : ['서울', '경기', '강원']
}
df3 = pd.DataFrame(data)
data2 = {
    'location' : ['서울', '경기', '강원', '세종'],
    'code' : ['11','31','32','29']
}
df4 = pd.DataFrame(data2)
df4

  location code
0       서울   11
1       경기   31
2       강원   32
3       세종   29

In [11]:
pd.merge(df3, df4, how = 'left', left_on = 'loc', right_on = 'location')

    name loc location code
0   test  서울       서울   11
1  test2  경기       경기   31
2  test3  강원       강원   32

In [36]:
# -------------------------------------------
# 240327 복습
import os
import glob
import pandas as pd

In [37]:
os.listdir('../csv/2017/')

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [38]:
file_path = '../csv/2017/'
file_list = os.listdir(file_path)
file_list

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [ ]:
pd.read_csv(file_path + file_list[0])

In [ ]:
result = pd.DataFrame()
for file in file_list:
    df = pd.read_csv(file_path+file)
    result = pd.concat([result, df], ignore_index= True)
print(result)

In [42]:
file_path = '../csv/2021/'
file_list = os.listdir(file_path)
file_list

['202101_expense_list.csv',
 '202101_expense_list.json',
 '202101_expense_list.xlsx',
 '202101_expense_list.xml',
 '202102_expense_list.csv',
 '202102_expense_list.json',
 '202102_expense_list.xlsx',
 '202102_expense_list.xml',
 '202103_expense_list.csv',
 '202103_expense_list.json',
 '202103_expense_list.xlsx',
 '202103_expense_list.xml',
 '202104_expense_list.csv',
 '202104_expense_list.json',
 '202104_expense_list.xlsx',
 '202104_expense_list.xml',
 '202105_expense_list.csv',
 '202105_expense_list.json',
 '202105_expense_list.xlsx',
 '202105_expense_list.xml',
 '202106_expense_list.csv',
 '202106_expense_list.json',
 '202106_expense_list.xlsx',
 '202106_expense_list.xml',
 '202107_expense_list.csv',
 '202107_expense_list.json',
 '202107_expense_list.xlsx',
 '202107_expense_list.xml',
 '202108_expense_list.csv',
 '202108_expense_list.json',
 '202108_expense_list.xlsx',
 '202108_expense_list.xml',
 '202109_expense_list.csv',
 '202109_expense_list.json',
 '202109_expense_list.xlsx',
 '202109_expense_list.xml',
 '202110_expense_list.csv',
 '202110_expense_list.json',
 '202110_expense_list.xlsx',
 '202110_expense_list.xml',
 '202111_expense_list.csv',
 '202111_expense_list.json',
 '202111_expense_list.xlsx',
 '202111_expense_list.xml',
 '202112_expense_list.csv',
 '202112_expense_list.json',
 '202112_expense_list.xlsx',
 '202112_expense_list.xml']

In [19]:
file_list[0].split('.')[-1] == 'csv'

True

In [20]:
file_list[0].endswith('csv')

True

In [24]:
os.path.splitext(file_list[0])

('202101_expense_list', '.csv')

In [40]:
file_list = glob.glob('../csv/num_3/*.csv')

In [41]:
file_list

['../csv/num_3\\campaign_master.csv',
 '../csv/num_3\\class_master.csv',
 '../csv/num_3\\customer_master.csv',
 '../csv/num_3\\use_log.csv']

In [9]:
for file in file_list:
    folder, name = os.path.split(file)
    head, tail = os.path.splitext(name)
    globals()[f"{head}"] = pd.read_csv(file)

In [11]:
class_master

  class class_name  price
0   C01       0_종일  10500
1   C02       1_주간   7500
2   C03       2_야간   6000

In [12]:
def data_load2(_path):
    file_list = glob.glob(_path+'/*.*')
    for file in file_list:
        foler, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        if tail == '.csv':
            df = pd.read_csv(file)
        elif tail == '.json':
            df = pd.read_csv(file)
        elif tail == '.xml':
            df = pd.read_xml(file)
        elif tail in ['.xlsx', '.xls']:
            df = pd.read_excel(file)
        else: 
            print('지원하지 않는 타입')
            continue
        globals()[f'{head}'] = df.copy()
        print(f'{head} 전역변수 저장 완료')
    
    return f'{_path} 파일의 목록 저장 완료'

In [13]:
data_load2('../csv/num_3')

campaign_master 전역변수 저장 완료
class_master 전역변수 저장 완료
customer_master 전역변수 저장 완료
use_log 전역변수 저장 완료

'../csv/num_3 파일의 목록 저장 완료'

In [15]:
class_master

  class class_name  price
0   C01       0_종일  10500
1   C02       1_주간   7500
2   C03       2_야간   6000

In [16]:
def read_df(_path, _encoding = 'utf-8'):                     # 여기서 _path는 상세 경로
    head, tail = os.path.splitext(_path)

    if tail == '.csv':
        df = pd.read_csv(_path, encoding = _encoding)
    elif tail == '.json':
        df = pd.read_json(_path, encoding = _encoding)
    elif tail == '.xml':
        df = pd.read_xml(_path, encoding = _encoding)
    elif tail in ['.xlsx', '.xls']:
        df = pd.read_excel(_path)
    else:
        df = pd.DataFrame()
    return df

In [17]:
read_df('../csv/2014.csv', 'CP949')

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [22]:
def data_load(_path, _end = 'csv'):
    file_list = os.listdir(_path)
    result = pd.DataFrame()
    _path = _path + '/'
    for file in file_list:
        if file.endswith(_end):
            try:
                df = read_df(_path+file)
            except: 
                try:
                    df = read_df(_path+file, _encoding = 'CP949')
                except:
                    df = read_df(_path+file, _encoding = 'EUC-KR')

            result = pd.concat([result, df], axis = 0 , ignore_index= True)
    return result

In [ ]:
a = data_load('../csv/2018')
a.info()

In [32]:
def data_loadG(_path):                                             # 여기서 _path는 파일경로
    file_list = glob.glob(_path+'/*.*')
    result = dict()
    for file in file_list:
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        try:
            df = read_df(file)
        except: 
            try:
                 df = read_df(file, _encoding = 'CP949')
            except:
                 df = read_df(file, _encoding = 'EUC-KR')
        
        if len(df) != 0:
            result[f'{head}'] = df.copy()
            print(f'{head} 전역변수 저장 완료')
        else:
            print('지원하지 않는 확장자 파일')

In [33]:
data_loadG('../csv')

2014 전역변수 저장 완료
campaign_master 전역변수 저장 완료
class_master 전역변수 저장 완료
corona 전역변수 저장 완료
csv_exam 전역변수 저장 완료
customer_master 전역변수 저장 완료
dept 전역변수 저장 완료
drinks 전역변수 저장 완료
emp 전역변수 저장 완료
example 전역변수 저장 완료
item_master 전역변수 저장 완료
지원하지 않는 확장자 파일
Koweps_Codebook 전역변수 저장 완료
Sales Records 전역변수 저장 완료
tran_1 전역변수 저장 완료
tran_2 전역변수 저장 완료
tran_d_1 전역변수 저장 완료
tran_d_2 전역변수 저장 완료
uriage 전역변수 저장 완료
use_log 전역변수 저장 완료
USM 전역변수 저장 완료
주민등록 전역변수 저장 완료

In [34]:
def read_df(_path, _encoding= 'utf-8'):
    head, tail = os.path.splitext(_path)
    if tail == '.csv':
        df = pd.read_csv(_path, encoding = _encoding)
    elif tail == '.json':
        df = pd.read_json(_path, encoding = _encoding)
    elif tail == '.xml':
        df = pd.read_xml(_path, encoding = _encoding)
    elif tail in ['.xlsx', '.xls']:
        df = pd.read_excel(_path)                              
    else:
        df = pd.DataFrame()
    return df

In [35]:
def data_load(_folderpath, _end = 'csv'):
    file_list = os.listdir(_folderpath)
    result = pd.DataFrame()
    _folderpath = _folderpath + '/'
    for file in file_list:
        if file.endswith(_end):
            try: 
                df = read_df(_folderpath+file)        
                         # 여기서 file은 os.listdir에서 가져왔으므로 파일명이다. 따라서 read_df에 _filepaht+file 넣어준다.
            except:
                try:
                    df = read_df(_folderpath+file,'CP949')
                except:
                    df = read_df(_folderpath+file, 'EUC-KR')
            result = pd.concat([result, df], ignore_index = True)
    return result

In [43]:
def data_loadG(_folderpath):
    file_list = glob.glob(_folderpath+'/*.*')

    result = dict()
    for file in file_list:               
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        
        try:  
            df = read_df(file)                # 여기서 file은 glob에서 가져왔으므로 상세경로이다. 그래서 read_df에 file만 넣는다.
        except:
            try:
                df = read_df(file, 'CP949')
            except:
                df = read_df(file, 'EUC-KR')

        if len(df) != 0:
            result[f'{head}'] = df.copy()
            print(f'{head} 변수 저장 완료')
        else:
            print('지원하지 않는 확장자 파일')
    return result

In [ ]:
a = data_loadG('../csv/2017')
a['201701_expense_list']

In [6]:
num = 3
if num < 5:
    print('작음')
elif num < 19:
    print('중간')
else:
    print('큼')

# 한줄
print('작음' if num < 5 else '중간' if num < 19 else '큼')

작음
작음