In [64]:
import pandas as pd
popout = pd.read_csv('./시군구간유출인구의이동수단별성별_연령대별데이터.csv', encoding = 'cp949')

In [65]:
# 컬럼 삭제
# 삭제할 컬럼 리스트
columns_to_drop = ['출발 시간대', '출발지_시도명', '출발지_중심_X좌표', '출발지_중심_Y좌표', '이동수단 구분', '요일구분']

# 지정된 컬럼 삭제
popout = popout.drop(columns=columns_to_drop)
popout

popout.to_csv('./전처리 후/유출인구정제.csv')

In [66]:
import pandas as pd

# Load the new Excel file
file_path = './시군코드이름.xlsx'
sigoon = pd.read_excel(file_path)

# Display the dataframe to understand its structure
sigoon.head()

# Remove the unwanted characters (single quote and comma) from the '시군이름' column
sigoon['시군이름'] = sigoon['시군이름'].str.replace("'", "").str.replace(",", "")

# Display the cleaned dataframe
sigoon.head()

    시군코드 시군이름
0  41610  광주시
1  41630  양주시
2  41650  포천시
3  41670  여주시
4  41800  연천군

In [67]:
import pandas as pd

# Drop the '출발지_시군구코드' column
popout = popout.drop(columns=['출발지_시군구코드'])

# Filter '출발지_시군구명' to contain only the first three characters
popout['출발지_시군구명'] = popout['출발지_시군구명'].str[:3]

# Sort the dataframe by '출발지_시군구명' in ascending order
popout = popout.sort_values(by='출발지_시군구명').reset_index(drop=True)

# Sort the dataframe by '출발지_시군구명' and then by '연령별(10세)' in ascending order
popout = popout.sort_values(by=['출발지_시군구명', '연령별(10세)']).reset_index(drop=True)

# Group the dataframe by '출발지_시군구명' and '연령별(10세)' and calculate the sum of '인구 수'
popout_sort = popout.groupby(['출발지_시군구명', '연령별(10세)'])['인구 수'].sum().reset_index()


# Display the grouped dataframe
popout_sort.head()

  출발지_시군구명  연령별(10세)      인구 수
0      광명시         1   3693.19
1      광명시         2  27059.52
2      광명시         3  47568.31
3      광명시         4  53453.29
4      광명시         5  60612.59

In [68]:
popout_sort.to_csv('./유출인구연령별_인구수.csv')

In [70]:
all_popout = popout_sort.groupby('출발지_시군구명')['인구 수'].sum().reset_index()
all_popout

  출발지_시군구명        인구 수
0      광명시   297671.53
1      부천시   911518.15
2      수원시  1399743.36
3      시흥시   430288.93
4      안산시   687455.55
5      안양시   585539.22
6      용인시  1276109.70
7      포천시   209838.01
8      하남시   436345.02
9      화성시  1286840.88

In [72]:
all_popout.to_csv('./202401_종합유출인구수.csv')

In [75]:
## 202401 일별 평균 유출 인구수
all_popout['일별평균유출인구'] = all_popout['인구 수'] / 31

In [76]:
all_popout.to_csv('./202401_일별평균유출인구수.csv')