In [7]:
import pandas as pd
popin = pd.read_csv('./시군구간유입인구의이동수단별성별_연령대별데이터.csv', encoding = 'cp949')

In [8]:
# 컬럼 삭제
# 삭제할 컬럼 리스트
columns_to_drop = ['도착 시간대', '도착지_시도명', '도착지_중심_X좌표', '도착지_중심_Y좌표', '이동수단 구분', '요일구분']

# 지정된 컬럼 삭제
popin = popin.drop(columns=columns_to_drop)
popin

popin.to_csv('./전처리 후/유입인구정제.csv')

In [9]:
import pandas as pd

# Drop '도착지_시군구코드' column
popin = popin.drop(columns=['도착지_시군구코드'])

# Filter '도착지_시군구명' to contain only the first three characters
popin['도착지_시군구명'] = popin['도착지_시군구명'].str[:3]

# Sort the dataframe by '도착지_시군구명' in ascending order
popin = popin.sort_values(by='도착지_시군구명').reset_index(drop=True)

# Sort the dataframe by '도착지_시군구명' and then by '연령별(10세)' in ascending order
popin = popin.sort_values(by=['도착지_시군구명', '연령별(10세)']).reset_index(drop=True)

# Group the dataframe by '도착지_시군구명' and '연령별(10세)' and calculate the sum of '인구 수'
popin_sort = popin.groupby(['도착지_시군구명', '연령별(10세)'])['인구 수'].sum().reset_index()


# Display the grouped dataframe
popin_sort.head()

  도착지_시군구명  연령별(10세)      인구 수
0      광명시         1   3128.43
1      광명시         2  12312.61
2      광명시         3  40189.26
3      광명시         4  28207.16
4      광명시         5  46821.86

In [12]:
popin_sort.to_csv('./유입인구연령별_인구수.csv')

In [13]:
all_popin = popin_sort.groupby('도착지_시군구명')['인구 수'].sum().reset_index()
all_popin

  도착지_시군구명        인구 수
0      광명시   292390.85
1      부천시   763887.25
2      수원시  1573195.06
3      시흥시   525449.45
4      안산시   659174.26
5      안양시   691297.61
6      용인시  1464258.84
7      포천시   182241.77
8      하남시   369754.32
9      화성시  1366159.27

In [14]:
all_popin.to_csv('./202401_종합유입인구수.csv')

In [15]:
## 202401 일별 평균 유출 인구수
all_popin['일별평균유입인구'] = all_popin['인구 수'] / 31

In [16]:
all_popin.to_csv('./202401_일별평균유입인구수.csv')