In [1]:
## 라이브러리 로드
# import datetime.datetime
from datetime import datetime                               # 둘다 같은 의미. 라이브러리와 그 안에 들어있는 Calss의 이름이 같은 경우 
# 아래 방식은 여러 Class를 가져올 수 있다.                # from datetime import datetime, Class1, Class2

In [2]:
time_data = "2024-03-26 09:45:00"
print(type(time_data))

<class 'str'>

In [ ]:
## datetime으로 시계열 데이터 다루기

In [4]:
## 문자열 데이터를 시계열 데이터로 변환                # 이렇게 data 형태 바꿔주는 것을 파싱이라고 한다.
time = datetime.strptime(                               # datetime에는 data가 없으므로 strptime()안에 바로 data 적어준다.
    time_data,
    "%Y-%m-%d %H:%M:%S"                                   # %Y : 년(4개기준), %y : 년(2개기준) %m : 월, %M : 분, %H : 시(24시기준)
)
print(time)

2024-03-26 09:45:00

In [5]:
print(time_data)
print(time)
print(type(time))

2024-03-26 09:45:00
2024-03-26 09:45:00
<class 'datetime.datetime'>

In [6]:
time_data2 = '2024년03월'
time2 = datetime.strptime(
    time_data2,
    "%Y년%m월"
)
print(time2)

2024-03-01 00:00:00

In [15]:
time_data3 = '24년03월'
time3 = datetime.strptime(
    time_data3,
    "%y년%m월"
)
print(time3)

2024-03-01 00:00:00

In [11]:
## 시계열 데이터를 문자열 데이터로 변환
time2.strftime( '%Y년%m월' )                     # time에는 data가 존재하므로 strftime()안에는 data적지않고 형식 적어준다

'2024년03월'

In [10]:
time2.strftime('%A')

'Friday'

#### datetime에서 사용되는 format 
- %Y : 년도 전체를 표기('2024')
- %y : 년도를 축약해서 표기 ('24')
- %m : 월을 숫자로 표기 ('01')
- %b : 축약된 월의 이름 ('Mar')
- %B : 월의 이름('March')
- %d : 일을 숫자로 표기 ('26')
- %H : 24시를 기준으로 표기 ('21')
- %I : 12시를 기준으로 표기 ('09')
- %M : 분을 표기
- %S : 초를 표기 
- %p : AM/PM 표기
- %a : 요일의 이름을 축약해서 표기 ('Fri')
- %A : 요일의 이름을 표기 ('Friday')
- %w : 요일을 숫자로 표기 (0:일, 1:월, ...,6:토)

In [ ]:
## pandas로 시계열 데이터 다루기

In [16]:
import pandas as pd

In [18]:
pd.Timedelta(days = 1)                            # 시간을 더하는 Class

Timedelta('1 days 00:00:00')

In [19]:
pd.Timestamp(10)

Timestamp('1970-01-01 00:00:00.000000010')

In [23]:
pd.Timestamp(year = 2024, month = 3, day = 26)

Timestamp('2024-03-26 00:00:00')

In [28]:
## 문자열을 시계열 변경
time_data3 = "2024-03-26"
pd.to_datetime(
    time_data3                                    # 여기서도 pormat 적어주는 것이 맞긴하나, 일반적인 형태라면 그냥 넣어도 된다. 그러나 한국어 인식 못한다.
)

Timestamp('2024-03-26 00:00:00')

In [ ]:
time_data4 = '2024년3월'
pd.to_datetime(time_data4)         # dateparseError 데이터 파싱(변경) 중 에러

In [32]:
time_data4 = '2024년3월'
pd.to_datetime(
    time_data4,
    format = "%Y년%m월"
)                                 # 위의 과정은 스리즈에서도 동일하게 적용된다.

Timestamp('2024-03-01 00:00:00')

In [37]:
time_data5 = '16:30:00 05-10-24'
pd.to_datetime(time_data5)

Timestamp('2024-05-10 16:30:00')